[2015-11-30 15:00] warmi01 opened #2 "OpenShiftCreator assumes /oapi/v1 endpoints"
OpenShiftCreator.java sets up the target URL endpoint using a /oapi/vi/ path string:

url = new URL(apiURL + "/oapi/v1/namespaces/" + namespace + "/" + path + "s");

However, when parsing a JSON List that contains a "Service" item, this undefined endpoint cannot be resolved (404) using /oapi/v1/namespaces/[namespace]/services (OpenShift).

The endpoint can be resolved using the Kubernetes (/api/v1

[2015-12-04 18:24] gabemontero commented on #2
fixed via https://github.com/openshift/jenkins-plugin/commit/e720e3b6022bff59740dc51d7acdf91c53f8dd9d

[2015-12-04 18:24] #2 closed, assigned to nobody

[2015-12-10 16:52] rawlingsj opened #6 "[jenkins workflow] NPE OpenShiftBuilder.inspectBuildEnvAndOverrideFields(OpenShiftBuilder.java:110)"
Using plugin v1.0.3

I've got a simple workflow however one thing I noticed is that in the help it suggested an API server name of `https://openshift.default.svc.cluster.local` where as I dont have an openshift service but a kubernetes one instead, I'm using OpenShift Origin v1.1.0.1

[code]

which throws this error when run..

[code]

[2015-12-10 17:07] rawlingsj opened #7 "Jenkins SCM Monitor OpenShift ImageStreams aren't available on workflow jobs"
The [Jenkins SCM](https://github.com/jenkinsci/openshift-pipeline-plugin#jenkins-scm) Monitor OpenShift ImageStreams dont seem to be available when creating new Jenkins Workflow jobs.

[2015-12-10 19:10] gabemontero commented on #6
hi @rawlingsj - thx for the interest ... I believe that NPE is fixed with this commit - https://github.com/openshift/jenkins-plugin/commit/e437d87714fa029beb48c53a3d3cdee9c84588eb

Given the complexity of the change (I addressed several other issues besides the NPE), I've not created a new version in the jenkins UC yet, as some more testing is occurring,including with another early user outside of

[2015-12-10 19:12] rawlingsj commented on #6
@gabemontero building locally is totally fine!  Thanks for the quick response, I'll give it a whirl first thing.

[2015-12-10 19:19] gabemontero commented on #6
@rawlingsj cool deal! ... and this way, the more testers the merrier ;-)

[2015-12-10 19:45] gabemontero commented on #7
Yeah, it was a little more complicated to to get that working with the workflow plugin.  I suspect we would have to leverage what is described [here](https://github.com/jenkinsci/workflow-plugin/blob/master/scm-step/README.md) in some fashion, but need to look into it more, and it would take enough time that I'll need to get it sized/prioritized.

I'm marking this as a request for enhancement - @b

[2015-12-11 11:30] rawlingsj commented on #6
The development version worked perfectly.  Thanks!

[2015-12-11 11:30] #6 closed, assigned to gabemontero

[2015-12-11 14:10] rawlingsj commented on #7
Ok thanks @gabemontero @bparees it would be great to see openshift jenkins plugin support for the jenkins workflow plugin, it's the direction cloudbees and fabric8 are taking for CD pipeline orchestration.

[2015-12-11 14:13] rawlingsj opened #8 "promote apps to different projects"
What's the recommended approach to promoting a images / apps across environments (openshift projects) using s2i and the openshift jenkins plugin?

I've seen this blog https://blog.openshift.com/promoting-applications-across-environments/ which uses a number of oc commands that I dont think are supported by the jenkins plugin so I was wondering how the promotion should work.

[2015-12-11 15:10] gabemontero commented on #6
Cool deal!

[2015-12-11 15:14] gabemontero commented on #7
Yep, @bparees as been having discussions with the fabric8 folks regarding our overall Jenkins story which have included sucking in the workflow plugin into the OpenShift Jenkins image; enhancing the plugin's integration with the workflow plugin would then be an natural extension of this.  We just have to get work items officially prioritized and on the books.

@sspeiche - fyi -

[2015-12-11 15:22] gabemontero commented on #8
This is certainly still an involving space in relation to our overall Jenkins strategy.  Among other thing, @mfojtik has an [image promotion proposal](https://github.com/mfojtik/origin/blob/image-promotion/docs/proposals/image-promotion.md) that will most likely drive further enhancement into the plugin.

Certainly in the short term, in relation to the blog post you noted, the tag an image build s

[2015-12-11 16:28] rawlingsj commented on #7
thanks @gabemontero yeah I'm one of the fabric8 developers and looking at how this plugin integrates with the CD features we've developed.  Being able to promote images from one project to another using workflow scripts is key, so I'm looking to see if this plugin can do that but I guess the answer is no.

[2015-12-11 16:55] gabemontero commented on #7
At least for now - adding the equivalent of `oc import-image` and possibly `oc export` (per the outline from @mfojtik 's proposal) are what are needed.

BTW, I opened [this card](https://trello.com/c/7XIwg8Pn/780-3-make-jenkins-pipeline-plugin-s-imagestream-scm-accessible-from-the-workflow-plugin) on our trello board to track the image stream / scm piece.

And I opened [this card](https://trello.c

[2015-12-11 16:57] gabemontero commented on #8
fyi opened [this card](https://trello.com/c/XDI6tvRy/781-2-add-equivalent-of-oc-import-image-to-the-openshift-jenkins-plugin) to track the minimal pieced needed in the plugin to facilitate image promotion per @mfojtik 's proposal.

[2015-12-11 16:58] rawlingsj commented on #7
great, thanks @gabemontero

[2015-12-11 17:50] bparees commented on #7
i don't think oc import-image and oc export are what we're looking for.

promoting an image between projects within a single cluster is handled via oc tag today.

promoting an image between projects across clusters is not something openshift itself includes any tooling to enable.  for now you'd need to docker pull/docker push the image to move it between registries.

so I don't think it's clear wh

[2015-12-11 17:55] bparees commented on #8
`oc tag` (which the jenkins plugins already supports) should be all that's needed to promote images between projects within a single cluster.

The existing jenkins tutorial/sample implements an image promotion flow using that functionality.

https://github.com/openshift/origin/tree/master/examples/jenkins

[2015-12-11 18:03] gabemontero commented on #8
Yep I noted the tag an image build step (`oc tag` equivalent as well).  The `oc import-image` notion came from @mfojtik [image promotion proposal](https://github.com/mfojtik/origin/blob/image-promotion/docs/proposals/image-promotion.md).

But certainly an image promotion flow is available.  It becomes a question of how we augment that flow or add additional ones moving forward, no?

[2015-12-11 18:21] rawlingsj commented on #8
Ah ok great - I'd missed that you can use tag to promote between projects, I thought it was only for the current project with that [blog](https://blog.openshift.com/promoting-applications-across-environments/) suggesting to create a new-app using the image stream name in the target environment (project).

Great so tag is what I'm after so will use the following assuming I prefix the target project

[2015-12-11 18:22] bparees commented on #8
if it doesn't work that way today, it should be updated to take source and destination projecs as additional arguments.

[2015-12-11 18:23] bparees commented on #8
@gabemontero @mfojtik I don't think "oc import-image mystream --from=mydockerrepository" is a likely way to do promotion.  you should already have an imagestream pointing to "mydockerrepository"

[2015-12-11 18:25] gabemontero commented on #8
It only takes 1 project today ... I added another card:  https://trello.com/c/mImyw4Jx/783-1-allow-oc-tag-equivalent-in-openshift-jenkins-plugin-to-take-source-and-destination-projects-namespaces

[2015-12-11 18:31] rawlingsj commented on #8
Great thanks all

[2015-12-30 11:40] arsogukpinar opened #10 "BuildConfig field for 'Perform builds in OpenShift' build step in Jenkins configure Job form is populated with default value of 'frontend' instead of actual stored value."
Description of problem:

Jenkins job configuration page doesn't present the actual value stored for buildConfig field of a 'Perform builds in OpenShift'  build step.

Version-Release number of selected component (if applicable):
OSE v3.1

docker.io/openshift/jenkins-1-centos7                       latest              212bac2225d0        6 days ago          655.4 MB

How reproducible:
- Create a Je

[2015-12-31 10:40] arsogukpinar opened #11 "OpenShiftDeploymentVerifier build step fails with false positive."
I have a build job with a OpenShiftDeploymentVerifier build step.  It is configured to verify if there is one pod running after build set. Even though I have one pod running this steps fails hence, my build job fails.

For this test following image has been used.
docker.io/openshift/jenkins-1-centos7 latest 212bac2225d0 6 days ago 655.4 MB
# Below you can find the relevant log extract.

OpenShiftD

[2016-01-04 01:04] gabemontero commented on #11
First - thanks for the interest in the plug-in.  And for providing the debug data for this issue.

Looking at the data, I cannot agree with your assessment, though if the intent of the deployment verifier was not clear to you, we can work to improve the documentation.

In particular, Generation 2 of the replication controller has the "openshift.io/deployment.phase" annotation set to "Running", but

[2016-01-04 02:18] bparees commented on #11
it does look like the doc leaves out mentioning that it checks that the latest deployment succeeded, so it'd be good to add that to the list of things that are checked.

[code]

[2016-01-04 02:41] gabemontero commented on #10
I have reproduced and have a fix in hand.  I'll consolidate with a couple of other small changes I have and commit upstream sometime tomorrow, followed then by starting the process of getting an update to the Jenkins Update Center, followed by updates to the OpenShift Jenkins images for centos and rhel.

thanks

[2016-01-06 19:24] gabemontero commented on #10
fyi @arsogukpinar I've pushed the fix for this to the repo (if you want to build the plugin yourself and install to your jenkins env) and have initiated the publish to the jenkins update center.  It will be v1.0.5.

I'll update this and close this issue once the update center process is complete.

[2016-01-06 19:37] gabemontero commented on #11
I've updated the README with some further clarification and pushed to the repo.

Going ahead and closing this one out.

[2016-01-06 19:38] #11 closed, assigned to nobody

[2016-01-06 19:57] arsogukpinar commented on #11
Hi Gabe,
Sorry for late response. Last couple of days I have been traveling. After your first comment, I did further testing. It took me sometime  before I can figure out the root cause of the issue.  It turns out that issue I was having was related to https://github.com/openshift/origin/issues/5787.

My build job had "Scale deployments in Openshift" step. Before performing a build I was scaling d

[2016-01-10 22:40] gabemontero commented on #10
the rhel and ccentos versions of the jenkins image now have v1.0.5 of the plugin, which has the fix for this.

Closing this out.

[2016-01-10 22:40] #10 closed, assigned to nobody

[2016-01-22 09:55] thincal opened #13 "About the jenkins-pipeline-plugin vs. the BuildTrigger/DeployTrigger in openshift"
It seems that the BuildTrigger / DeployTrigger in openshift already support finely, where the generic webhook buildtrigger and the imagechange deploy trigger could almost build and deploy automatically.

So that what will this jenkins-pipeline-plugin do besides that ? Many thanks for your any info.

[2016-01-26 06:40] #13 closed, assigned to nobody

[2016-01-26 14:47] gabemontero commented on #13
Hi @thincal , sorry for the delay in responding (I was out of the office for a bit).  Even though you have closed the issue, I wanted to provide a few of points for you to consider:
1) The steps related to build and deploy don't just trigger the action; there is logic to verify whether the action completed successfully, beyond what is available with the webhooks
2) We also expose image stream tagg

[2016-01-27 12:28] thincal commented on #13
Thanks for your info, it helps.

[2016-02-03 10:25] mfojtik opened #14 "Missing "install" section in README"
There is missing section about how to install this plugin to Jenkins. At least a link to https://wiki.jenkins-ci.org/display/JENKINS/OpenShift+Pipeline+Plugin at the top of the README will be useful.

Also it would be helpful to provide instructions to build this plugin from the master ;-) (for us, no-jave folks).

[2016-02-03 21:50] gabemontero commented on #14
@mfojtik - I pushed a README update with https://github.com/openshift/jenkins-plugin/commit/c67b0578789ac22ae9484da7a442456a572ec920

Take a peek and if you have further suggestions, I'll incorporate them before closing this issue out.

thanks

[2016-02-11 14:27] #14 closed, assigned to nobody

[2016-02-11 15:48] YannMoisan opened #15 "build success but no tag has been created"
I use the build step Tag an image in OpenShift

The build is successful but I don't the tag with `oc get istag`

Here is the log

[code]

[2016-02-11 15:59] gabemontero commented on #15
You have to provide the name of the image stream in the project along with the tag name.  Something like "MyImageStream:latest" and "MyImageStream:prod"

Based on the trace you provided, you only provided "latest" and "prod".

Please try again with that input.

That said, seeing what happened here, I admit some better error checking is minimally needed.  And perhaps in hindsight I should split out

[2016-02-11 16:08] YannMoisan commented on #15
Thanks, that fix !

[2016-02-15 22:39] gabemontero commented on #15
BTW, the usability fix I mentioned above of splitting apart the image stream name and tag name was incorporated into v108 of the plugin.

[2016-02-15 22:39] #15 closed, assigned to gabemontero

[2016-02-23 12:09] mfojtik opened #17 "Better messages in Jenkins job logs"
Should be something like "Scaling deployment 'frontend' in namespace 'test' to 0 replicas"

Dunno what this means :-)

Should be "Starting build #number for 'ruby-sample-build' in namespace 'test'". Alternatively, when the deployment check is in place we can add " and waiting for deployment to succeed".

Should be "Waiting for the 'frontend' to reach number of replicas to be 0"

...
I think we nee

[2016-02-23 12:16] mfojtik commented on #17
@gabemontero @bparees what do you think?

[2016-02-23 15:06] bparees commented on #17
@mfojtik +1

@gabemontero and I already did some light reviewing of these messages, but there is definitely more aggressive editing that can be done.

[2016-02-23 15:34] gabemontero commented on #17
I'll add the specific message edits.  @bparees had another one he noted via a gist (though I'm not 100% sure what is wrong with what he posted, need to look again).

And I think the idea of replacing the java class name with some sort of reference to what the build step is a good one.  I'm thinking the build step display name when they select it, unless you all have another suggestion.

Apologies,

[2016-02-23 15:57] bparees commented on #17
I'm sympathetic to that and since you're the guy who's going to bear most of the burden of debugging these issues, it should probably be left up to you.  That said, we can probably at least make them more human readable and less debug-looking.

eg "Finished xyz with result abc"

it's not, which is definitely a significant challenge.  I don't know that we have a good way to know what the console ur

[2016-02-23 16:04] gabemontero commented on #17
OK cool ... got to spend some online cycles, but hope to circle back to this before EOB today.

[2016-02-24 10:58] jim-minter opened #18 "NullPointerException in com.openshift.jenkins.plugins.pipeline.Auth.allowCertificate(Auth.java:86)"
Started by user ha:AAAAlx+LCAAAAAAAAP9b85aBtbiIQTGjNKU4P08vOT+vOD8nVc83PyU1x6OyILUoJzMv2y+/JJUBAhiZGBgqihhk0NSjKDWzXb3RdlLBUSYGJk8GtpzUvPSSDB8G5tKinBIGIZ+sxLJE/ZzEvHT94JKizLx0a6BxUmjGOUNodHsLgAzeEgZu/dLi1CL9xJTczDwACG0V4sAAAAA=Jenkins Admin
Building in workspace /var/lib/jenkins/jobs/OpenShift Sample/workspace

BUILD STEP:  OpenShiftScaler in perform for frontend wanting to get to replica count 0

[2016-02-24 10:59] jim-minter commented on #18
Using OSE 3.1.1 (Jenkins plugin 1.0.4), demobuilder image.

In https://github.com/openshift/jenkins-plugin/blob/master/src/main/java/com/openshift/jenkins/plugins/pipeline/Auth.java#L86 , shouldn't

if (this.listener.getLogger() != null)

read

if (this.listener != null)

?

[2016-02-24 11:00] jim-minter commented on #18
ATM not quite sure why I'm hitting this bug and others don't appear to have done.  The pod was created via using the jenkins-ephemeral instant app.

[2016-02-24 13:54] jim-minter commented on #18
Ah, FWIW this triggers if the OpenShift node cert is missing the chained CA certificate.

[2016-02-24 15:50] gabemontero commented on #18
hey @jim-minter - yep, you have basically captured the 2 key points here.  But I'll elaborate a bit:

1) Yes, the if check at https://github.com/openshift/jenkins-plugin/blob/master/src/main/java/com/openshift/jenkins/plugins/pipeline/Auth.java#L86 should be changed as you articulated; the Auth class uses the setting of the listener instance var to dictate whether it does verbose logging or not (t

[2016-02-24 21:32] gabemontero commented on #17
@bparees @mfojtik - I have a preliminary sample.  Before I took the time to apply a similar pattern to all the steps, I'd like to solicit feedback.  Note, the "Starting ...Started..." is one line (in case this comment does not render it that way):

Starting the "Perform builds in OpenShift" build step with build config frontend from the project test.  Started build frontend-3 and will not wait for

[2016-02-24 21:59] bparees commented on #17
1) We should quote all the parameters, eg
`Starting the "Perform builds in OpenShift" build step with build config "frontend" from the project "test".  Started build "frontend-3" and will not wait for any subsequent deployment to succeed.`

2) Regarding the exact message...  in the case where we're not doing something (not waiting for deployment, not waiting for exact replica count, etc) i'd just

[2016-02-24 22:15] gabemontero commented on #17
OK, I'll apply 1) through 5).  Answers to your questions embedded below.

On Wed, Feb 24, 2016 at 4:59 PM, Ben Parees notifications@github.com
wrote:

Yes it would.  Right now (not accounting for your above edits around step
name, etc. - I will similarly apply those comments), there are these set of
messages:
a) Exiting \"%s\" unsuccesfully; a build could not be started.
b)  Exiting \"%s\" unsucce

[2016-02-24 22:18] bparees commented on #17
two s's in successfully/unsuccessfully, but otherwise cool, that makes sense.

[2016-02-25 17:13] livelace opened #19 "NullPointerException at com.openshift.jenkins.plugins.pipeline.OpenShiftCreator.makeRESTCall(OpenShiftCreator.java:96)"
`
Started by user admin
Building in workspace /var/lib/jenkins/jobs/2/workspace

Auth authToken len 13
inspectBuildEnvAndOverrideFields class name com.openshift.jenkins.plugins.pipeline.OpenShiftCreator
inspectBuildEnvAndOverrideFields found field jsonyaml with current value {
  "apiVersion": "extensions/v1beta1",
  "kind": "Job",
  "metadata": {
    "name": "pi"
  },
  "spec": {
    "selector": {

[2016-02-25 17:14] livelace commented on #19
OpenShift Pipeline Jenkins Plugin - 1.0.8
jenkins - 1.642.2

[2016-02-25 18:13] gabemontero commented on #19
Yep, the job api type was recently exposed in OpenShift.  The immediate fix is easy enough.  I should hopefully get to this in the next day or two.

[2016-02-25 19:07] livelace commented on #19
Thanks.

[2016-02-25 20:10] livelace commented on #19
I forgot to mention about lack of traffic and any network activity (in time of starting of job) in direction of where Openshift installed.

[2016-02-25 20:48] gabemontero commented on #19
OK .. thx for that, but yeah, that wouldn't have any bearing.  This bug would happen irregardless.

[2016-02-25 20:58] gabemontero commented on #17
OK ... some posting of updated samples for the build step.  Pending more fine tuning, will move on to next step:

1)

Starting the "Trigger OpenShift Build" step with build config "frontend" from the project "test".
  Started build "frontend-2" and waiting for build completion ...

Exiting "Trigger OpenShift Build" successfully; build "frontend-2" has completed with status:  [Complete].

2)

Start

[2016-02-25 21:07] livelace commented on #19
Oh, thanks. I understand now (don't know java). But little question: do you plan to add remote command execution inside pods ?

[2016-02-25 21:09] gabemontero commented on #19
That is not on the list at this time.  If you would like it, please open up a separate issue asking for it that we can mark as a request for enhancement.

[2016-02-25 21:50] gabemontero commented on #17
A couple of samples for the new scaler messages:

1)

Starting the "Scale OpenShift Deployment" step with deployment config "frontend" from the project "test".
  Scaling to "0" replicas and verifying the replica count is reached....

Exiting "Scale OpenShift Deployment" successfully, where the deployment "frontend-5" reached "0" replicas.

2)

Starting the "Scale OpenShift Deployment" step with de

[2016-02-25 22:03] bparees commented on #17
they look good to me.  probably wait until @mfojtik gives it a second set of eyes before committing to making changes though.

[2016-02-25 22:47] gabemontero commented on #17
Roger that (comment above ^^).

Some samples for the deploy verify:

1)

Starting the "Verify OpenShift Deployment" step with deployment config "frontend" from the project "test".
  Verifying deployment state...

Exiting "Verify OpenShift Deployment" successfully.

2)

Starting the "Verify OpenShift Deployment" step with deployment config "frontend" from the project "test".
  Verifying deployment

[2016-02-25 23:00] bparees commented on #17
verify deployment step messages look good to me.

[2016-02-26 11:36] mfojtik commented on #17
@bparees @gabemontero much better now :-) looks good to me as well.

[2016-02-26 11:48] livelace opened #20 "FR: Command execution inside specific pod"
Hello. What I need in my QA work:

Workflow:
1. Build image.
2. Deploy replication controllers with services (HTTP, FTP, SMTP etc.)
3. Run specific Pod with my application inside. I want to exec commands inside this Pod, which will be test my application for establishing a connection with services (step 2). And pipe output back to jenkins.

Maybe execution should be attached to Pod labels and exec

[2016-02-26 11:51] livelace commented on #20
Inspired by:

https://github.com/jenkinsci/docker-workflow-plugin
https://github.com/fabric8io/kubernetes-workflow

[2016-02-26 21:22] gabemontero commented on #20
@bparees @mfojtik FYI

[2016-02-26 21:30] gabemontero commented on #17
@bparees @mfojtik cool deal ... do you all want me to continue to post the updates for each build step as I compose them, or have we established enough of a pattern where it is essentially plug-n-play.

Here is the list of renamed step names as noted in the readme, and will show up as from the pull down:
1.  "Trigger OpenShift Build"
2.  "Scale OpenShift Deployment"
3.  "Trigger OpenShift Deployme

[2016-02-26 21:31] bparees commented on #20
The request in general is valid(ability to oc exec, basically), but for your specific use case, i'm wondering if you can use post-deployment hooks instead?  Did you look into that and find it wouldn't work for your needs?

We're also going to introduce a "test deployment" variant on deployments which is targeted at exactly this use case.  @smarterclayton or @ironcladlou might be able to provide mo

[2016-02-26 21:34] bparees commented on #17
yeah i think we can probably hash out any further nuances in your PR

[2016-02-27 21:11] livelace commented on #20
Yes, I used hooks previously. But it is not so flexible as Jenkins parameterized task.
I think that "test deployment" - is exactly what need our team.

[2016-02-28 21:19] mfojtik commented on #20
@livelace this sounds like a job for the kubernetes plugin. If your image has java/jenkins agent, you can configure Jenkins to start it as a Pod and then define shell script job in Jenkins to do stuff you described.

[2016-02-29 09:36] livelace commented on #20
@mfojtik

I thought so at the start of investigation. But it is not working for me:
1. I don't have Jenkins slave agent inside my container, it is not necessary for job. My application should run alone.
2. I can't to cancel this pod through Jenkins build steps.

Now, I reached schema:
1. Build image by webhook.
2. Launch deployments with services.
3. Launch deployment with my application which wil

[2016-02-29 22:03] elyscape opened #21 "Support username and password credentials"
Currently, the Jenkins plugin only supports using a token to authenticate itself to the OpenShift master. This is fine if Jenkins is being run from inside OpenShift, but if you have an external Jenkins instance, you have to deal with figuring out how to populate the auth token with a value that expires (by default) every 24 hours. It would be great if the plugin were extended to support authentica

[2016-03-01 03:33] gabemontero commented on #21
@bparees @mfojtik FYI

A couple of preliminary points:
1) short term, the openshift-restclient-java component already has user/password support; the effort would be simply exposing means through the UI to store those values for the build steps

2) haven't looked in detail yet, but I suspect this falls in line with @mfojtik 's comment about how the k8s plugin leverages the credentials plugin and th

[2016-03-01 13:42] bparees commented on #21
sounds reasonable to me.

[2016-03-01 14:11] livelace commented on #20
@smarterclayton and @ironcladlou can you explain "test deployment" feature ?

[2016-03-02 02:36] gabemontero commented on #18
just pushed the NPE fix to this repo with commit 4b98d9cc3df3ca3729cb24731ba23e27c698f7d3.

marking this item closed;  i'm following up with @jim-minter outside of this issue on some additional jenkins plugin / image updates

[2016-03-02 02:36] #18 closed, assigned to gabemontero

[2016-03-02 16:30] gabemontero commented on #19
@livelace : the changes to address the NPE and add the Job resource as a type the plugin can create have been pushed to the repo via commit 2463397158d3065340f029baa46ccea306ddd99e

If you are in the mode of pulling the changes from this repo and buliding/installing the plugin manually, go for it; otherwise, it will be in v1.0.9 of the plugin when the next official version is cut and pulled into t

[2016-03-02 16:30] #19 closed, assigned to gabemontero

[2016-03-04 07:46] bdeneuter opened #24 "Add support for "Delete OpenShift Resource(s)""
At the moment there is support for creating resources in the plugin (oc create -f), but there is no support for deleting resources (oc delete -f).
It would be nice to have this command also available.

[2016-03-04 14:24] gabemontero commented on #24
@bparees FYI

[2016-03-07 18:04] #17 closed, assigned to gabemontero

[2016-03-08 18:56] elyscape opened #26 "Concurrent builds with differing parameters from environment variables are not possible"
When a build is started with an OpenShift build step, it reads the parameters assigned in the job configuration. Then, it checks to see if any of the values correspond to environment variables. If they do, it uses the values of the environment variables instead of the value in the job config. This is all fine. The problem is that the way it does this is to actually [change the values in the job co

[2016-03-08 22:43] gabemontero commented on #26
Yep, that is how the var substitution for the steps works.  My prior testing though had lead me to believe a new instance of the step was instantiated.  Obviously appears otherwise.

Have an idea on how to reconcile (an alternative approach I had originally considered).  I may be able to start as soon as tomorrow on it.

[2016-03-08 22:49] elyscape commented on #26
I don't know exactly how it's done, but a lot of other plugins support parameter expansion. For example, the [CloudBees Docker Build and Publish plugin](https://wiki.jenkins-ci.org/display/JENKINS/CloudBees+Docker+Build+and+Publish+plugin):

![parameter expansion](https://cloud.githubusercontent.com/assets/792695/13619260/e2275588-e53c-11e5-94a6-ba8e816c1208.png)

[2016-03-08 22:50] elyscape commented on #26
Update: looks like it's done by using [the Token Macro plugin](https://wiki.jenkins-ci.org/display/JENKINS/Token+Macro+Plugin).

[2016-03-09 20:44] gabemontero commented on #26
Thanks for the pointer, though in looking at the token macro code and the example usage from a couple of plugins, it won't serve as a total plug in play replacement for the current code.  That said, we may want to leverage it (either as part of this fix, or future enhancements).

[2016-03-10 20:12] gabemontero commented on #26
@elyscape : I've delievered the fix for this with commit https://github.com/openshift/jenkins-plugin/commit/dfecb8e4da2e002c0603793aff87488d033f363e to this repo.

Also, if you would not rather build the plugin hpi file yourself to try it out, you can obtain a built plugin hpi file with this fix at https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/lastBuild/artifact/plugin/open

[2016-03-10 20:12] #26 closed, assigned to gabemontero

[2016-03-10 22:30] elyscape commented on #26
Just tried it out and it looks good to me. Thanks for your help!

[2016-03-10 22:40] gabemontero commented on #26
Cool deal!  Thanks for trying it out and confirming!

On Thu, Mar 10, 2016 at 5:30 PM, Eli Young notifications@github.com wrote:

[2016-03-12 09:42] eformat opened #27 "Add Support for env in oc start-build"
FR: add support for passing environment variables to the "oc start-build" command

[2016-03-12 18:16] mfojtik commented on #27
oc start-build command already support -e.
do you mean add support to Trigger a Build step in Jenkins?
On Mar 12, 2016 10:42 AM, "mike hepburn" notifications@github.com wrote:

[2016-03-12 19:19] eformat commented on #27
this isn't exposed via the jenkins-plugin though - from what i can see ?

https://github.com/openshift/jenkins-plugin/blob/master/src/main/java/com/openshift/jenkins/plugins/pipeline/OpenShiftBuilder.java#L244

one use case may be a binary deployment of a WAR file - where you can pass the WAR_FILE_URL to the builder. there are many others.

[2016-03-14 01:39] gabemontero commented on #27
Correct  - those options are not yet exposed through the jenkins-plugin builder step.

[2016-03-16 19:59] gabemontero commented on #8
With commit https://github.com/openshift/jenkins-plugin/commit/80b79c6fd8c54b189740611a17830cfdcb315352 , the "Tag OpenShift Image" step can now perform the `oc tag` equivalent where the src ImageStream and dest ImageStream are in different projects.

I've noted in the README some of the `oc policy` magic @mfojtik pointed me to that is needed to get a given default service account's token permissi

[2016-03-17 16:03] gabemontero commented on #8
Closing this out.

[2016-03-17 16:03] #8 closed, assigned to gabemontero

[2016-03-17 19:44] livelace commented on #24
Up. Necessary functionality. And I say more, we need that after environments launching we should be able stop/destroy the environment or components of the environment (builds, images, pods etc.).

[2016-03-18 10:46] livelace commented on #24
- preferably as build steps

[2016-03-21 07:11] eformat opened #28 "tag needs to refer to Image Stream Pull Spec"
i think in the change to allow cross project/namespace tags,

it has broken a normal ":promote" type workflow from the ":latest" tag

this change/commented out piece:

https://github.com/openshift/jenkins-plugin/blob/master/src/main/java/com/openshift/jenkins/plugins/pipeline/OpenShiftImageTagger.java#L201

means that if you set up to tag ":latest" with say, ":promote" - you get

$ oc describe is

[2016-03-21 17:29] bparees commented on #28
@eformat can you show the output of "oc get is helloworld-mvn -o json"?

[2016-03-21 19:44] eformat commented on #28
heya ben, heres the output with latest build of the plugin, sorry this is ugly ...

---

oc get is helloworld-mvn -o json
{
    "kind": "ImageStream",
    "apiVersion": "v1",
    "metadata": {
        "name": "helloworld-mvn",
        "namespace": "springboot-sti",
        "selfLink": "/oapi/v1/namespaces/springboot-sti/imagestreams/helloworld-mvn",
        "uid": "b8c34648-eef7-11e5-b1d5-4201c0a8

[2016-03-21 19:59] gabemontero commented on #28
So, let's see if I parsed this out correctly.  You are saying the new form has:

{
"name": "promote",
"from": {
"kind": "ImageStreamTag",
"name": "helloworld-mvn:latest"
}

And the old form had:

{
"name": "promote",
"from": {
"kind": "ImageStreamImage",
"namespace": "springboot-sti",
"name": "helloworld-mvn@a8978c67c9b22f4f0fa7b32a0486aac91e21485d2df618be621ac56c07d711e1"
}
}

I'll circle back an

[2016-03-21 20:39] gabemontero commented on #28
Hmm ...I am not seeing that difference in behavior.  I'm seeing `ImageStreamImage` references in both the spec and status sections after the tag operation with the latest code unaltered.

@eformat - is there any chance you or someone else has been running `oc tag` operations outside the scope of Jenkins?  @bparees - any other possible explanations you can think of?

Here is what I'm seeing after t

[2016-03-22 02:28] eformat commented on #28
i agree that looks right ...

no, its only jenkins plugin doing the tagging

the setup is a remote jenkins (not running on OSE) - 1.625

On 22 March 2016 at 09:39, Gabe Montero notifications@github.com wrote:

[2016-03-22 02:32] eformat commented on #28
grr .. hit enter too soon

jenkins - 1.625.3 running outside ose

ose-master:~$ oc version
oc v3.1.1.6-21-gcd70c35
kubernetes v1.1.0-origin-1107-g4c8e6f4

built jenkins-plugin from here:
https://github.com/openshift/jenkins-plugin/

[2016-03-22 13:55] gabemontero commented on #28
Hey @eformat - I'll give the remote scenario a try, but I don't see yet why that would matter.

In the meantime, if you have the time, please try a couple of things:
1) Re-run the error scenario with verbose logging (perhaps we are hitting a permission issue or something)
2) try clearing out the "promote" tag (in other words, just have the "latest" tag present) and see if the behavior is any diffe

[2016-03-22 14:26] gabemontero commented on #28
I still see the new tag as an ImageStreamImage ref when using a remote jenkins and manually specifying the API server URL and token for the project hosting the image stream.

Pending the data I asked @eformat for, I'll try to repro by first creating manually/outside of jenkins a ImageStreamTag of the same name, then running the plugin's tag command.

[2016-03-22 19:30] eformat commented on #28
hi, yes, i had verbose logging on - no obvious error
tried from scratch (new project) - same behaviour for me unfortunately

note that the promote tag is first created by the jenkins plugin (nor using cli)

i do note that using the "--alias=true' and "--alias=false" on the "oc tag" cli gives me the same behaviour - could this be related somehow ?

Cheers
Mike

[2016-03-22 19:40] gabemontero commented on #28
Ok, I was also creating the new tag (i.e. promote in your case) first with
the plugin.  Thanks for confirming it occurs for you from a new project.
Rules that out.

Even if you did not get an error, if you could post the verbose output, the
response JSON could still be informative.

Haven't toggled behavior with the `--alias` option before, but if you are
reproducing the condition via `oc tag` wit

[2016-03-23 20:36] gabemontero commented on #28
So I analyzed `oc tag` when `--alias=true` is set, and sure enough, the request body on the put specifies a `ImageStreamTag` type explicitly.

So we are back to the fact that as [these lines](https://github.com/openshift/jenkins-plugin/blob/master/src/main/java/com/openshift/jenkins/plugins/pipeline/OpenShiftImageTagger.java#L207-L213) show, the code is explicitly sending a ImageStreamImage.

So I

[2016-03-23 21:48] eformat commented on #28
Hi gabe/ben, sorry got real busy with paying customers ;)

right - i have done some more rigorous testing now - this seems to be only
a problem with 1.0.9 build (latest Available in jenkins)

a local 1.0.10-SNAPSHOT build based on the latest code is OK

dunno how i mixed that up originally - sorry for wasting time ...

Cheers
Mike

On 24 March 2016 at 09:36, Gabe Montero notifications@github.com w

[2016-03-23 21:55] bparees commented on #28
cool, thanks for the update.  closing this.

[2016-03-23 21:55] #28 closed, assigned to gabemontero

[2016-03-31 12:20] livelace opened #30 "FR: Support for cross-project tag"
Subject. At this moment we can create new tag inside one project but can't do this between projects. Use case: dedicated projects for building images.

[2016-03-31 13:15] gabemontero commented on #30
This has been added to the plugin with commit https://github.com/openshift/jenkins-plugin/commit/80b79c6fd8c54b189740611a17830cfdcb315352

We just have not built an official OpenShift Jenkins images with a version of the plugin that contains this enhancement yet.

I can post a built version of the plugin with this change if you like - just let me know.

[2016-04-01 05:11] livelace commented on #30
It will be great! Thanks.

[2016-04-01 13:27] gabemontero commented on #30
[Here](https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/9/artifact/plugin/openshift-pipeline.hpi) is a built hpi file that you can install on top of the existing one in the jenkins image.

Also note [these instructions](https://github.com/openshift/jenkins-plugin#authorization) with respect to making sure the plugin has the appropriate authorization to manipulate ImageStream's

[2016-04-01 13:27] #30 closed, assigned to gabemontero

[2016-04-02 09:09] livelace commented on #20
Ok, at this moment I do that: https://github.com/livelace/virtualization/blob/master/openshift/drweb/projects/drweb-configd-centos/drweb-configd-centos.yaml#L54

But it isn't comfortable, I think, that it can be installed as an option of Jenkins task.

[2016-04-04 07:00] livelace opened #32 "Long-lived process of build has fault status"
Step to reproduce:
1. First build about 10 minutes (no Docker cache): completed in Openshift, failed in Jenkins (https://paste.fedoraproject.org/349217/53140145/)
2. Second build about 1 minute (Docker cache): completed in Openshift, completed in Jenkins (https://paste.fedoraproject.org/349218/45975318/).

[2016-04-04 14:51] gabemontero commented on #32
Hello @livelace - took at look at the data provided, and could see this going one of two ways:

1) For the longer running build, did you increase the wait interval as documented [here](https://github.com/openshift/jenkins-plugin#communication-timeouts) ?  If not, the solution could be as simple as that.  Also, in looking at those timeout settings, `OpenShift Builder` is for the `Trigger OpenShift

[2016-04-04 16:59] livelace commented on #32
Yes, you are right. It's my mistake, I completely forget about global settings. All working fine.

[2016-04-04 17:05] livelace commented on #32
NaB

[2016-04-04 17:05] #32 closed, assigned to gabemontero

[2016-04-07 11:27] livelace opened #33 "Doesn't detect failed replication controller/deployment configuration"
1. Create example DC with:

https://paste.fedoraproject.org/350947/60028840/
1. Deploy DC, oc get -o yaml rc:

https://paste.fedoraproject.org/350950/60028895/
1. Status of pod, oc get -o yaml pod:

https://paste.fedoraproject.org/350952/28958146/

==>

As result, we think that RC is running, but pod inside RC is not running.
How do we can detect that DC not running and don't start the next build

[2016-04-07 12:19] livelace commented on #33
In other words, why we don't subscribe to event of pod status/why we don't wait completion of pod creation ? Can we check pod status through "Verify OpenShift Deployment" ?

[2016-04-07 15:52] gabemontero commented on #33
@livelace the "Verify OpenShift Deployment" step currently stops after seeing the RC go to Complete, but after seeing you scenario, I realize it could do better.

I'll start looking into including a monitor of the deploy pod status into that step's logic (perhaps the other deploy related steps as well - we'll review).

@bparees - FYI

[2016-04-07 17:21] bparees commented on #33
@livelace perhaps you could use the http check step to confirm the pod is running?  or a readiness check in your DC that confirms the pod came up (which will block the deployment completion).

[2016-04-07 17:42] livelace commented on #33
@bparees My service is not HTTP capable, I thought about this.

My case:
1. First build step - start service1.
2. Second build step - start service2.
3. I want to start third build step, which depend from 1/2. I get problems:

a) I don't know that service1 and service2 is up and running and all hooks completed. I can't stop Jenkins tasks, because I think that is all right.

b) I can't scale deploy

[2016-04-07 17:52] gabemontero commented on #33
Not to overly distract from this thread but I should have deployer pod
state verification working either later today or tomorrow.

On Thursday, April 7, 2016, Oleg Popov notifications@github.com wrote:

[2016-04-07 17:58] livelace commented on #33
@gabemontero It will be great!

[2016-04-07 18:26] bparees commented on #33
@gabemontero deployer pod state, or just pod state?

[2016-04-07 18:32] gabemontero commented on #33
@bparees I'll look for both to a degree.  Testing shows the deployer pod is
prunned minimally if successful.  So I'll first see if we have a deployer
pod in a non complete state.  If a deployer pod no longer exists, I'll
confirm that a running pod  exists for the correct gen of the deployment.

On Thursday, April 7, 2016, Ben Parees notifications@github.com wrote:

[2016-04-07 18:36] bparees commented on #33
the replication controller (deployment) ought to reflect the state of the deployer pod, so i don't see the value in looking at the deployer pod.

[2016-04-07 18:40] gabemontero commented on #33
I have not seen that yet at least on what i was previously examing from the
output provided and my duplication with the evil post start hook but I'll
double check when i get back to the office.  The deployment phase still
said complete.

On Thursday, April 7, 2016, Ben Parees notifications@github.com wrote:

[2016-04-07 19:34] gabemontero commented on #33
Yep, at least with the latest level from upstream origin, @bparees is correct wrt the RC being sufficient.  Adding the same the same `lifecycle: postStart` sabotage, the RC ends up in Failed state per the `deployment.phase` annotation on the RC.  I think my earlier repo did not go far enough or something.  Could have swore I saw it go to `Complete`, but I now consistently see it go to `Failed` aft

[2016-04-08 05:03] livelace commented on #33
Not working:
1. [root@openshift-master1 ~]# oc version
   oc v1.1.6
   kubernetes v1.2.0-36-g4a3f9c5
2. Jenkins console output (verbose mode), job with verification, job completed without any errors:

https://paste.fedoraproject.org/351461/91294146/
1. RC status:

https://paste.fedoraproject.org/351462/46009139/

[root@openshift-master1 ~]# oc get rc
NAME                                        DES

[2016-04-08 06:23] livelace commented on #33
NAME                                              READY     STATUS             RESTARTS   AGE
testing-11.0-drweb-netcheck-nossl-peer1-2-6zkg7   0/1       CrashLoopBackOff   14         1h

[2016-04-08 07:42] livelace commented on #33
"Verify whether the pods are up" in settings will be  enough :)

[2016-04-08 10:43] livelace opened #34 "FR: Dedicated timeout settings for tasks"
SUBJ. At this moment we have global settings for tasks, but it is very inconvenient.

Use case: We have build1, we should set high time out for that build. We have build2, which failed, but we should wait global time out, which we set for build1.

[2016-04-08 14:29] gabemontero commented on #33
@livelace I'll see if I can pull a v1.1.6 version of openshift and reproduce what you are seeing, but at the moment, it appears that we are falling into category 2) from my earlier comment.  If that does prove to be true, than rather than adding the new step, we'll want you to try the existing step against v1.2.0 when it becomes available (that is the "latest version" I was testing against).

[2016-04-08 15:51] gabemontero commented on #33
@livelace - one additional request while I try to reproduce at a lower level of code - when you reproduce, is the equivalent of the testing-11.0-drweb-netcheck-nossl-peer1-2-deploy pod from your last repro staying around long enough for you to dump its contents to json/yaml ?  If so, can you provide that as well (assuming you'll need to reproduce again to do so)

thanks

[2016-04-08 16:37] gabemontero commented on #33
ok, I went to the same level as @livelace and could not reproduce.  One additional question did occur to me ... do you create a successful deployment, the scale it down, edit the DC to introduce the
`lifecycle:
          postStart:
            exec:
              command:
              - /bin/sh
              - -c
              - exit 1
`
and then scale to 1 and verify deployment?

[2016-04-08 16:49] livelace commented on #33
@gabemontero Hello.

No, DC has hook from the beginning.

[2016-04-08 16:50] livelace commented on #33
After creating "DC" has zero count.

[2016-04-08 16:58] livelace commented on #33
Creation progress - https://paste.fedoraproject.org/351916/14601346/

[2016-04-08 16:59] livelace commented on #33
Error - https://paste.fedoraproject.org/351917/60134739/

[2016-04-08 17:00] livelace commented on #33
After error occur I can scale down DC and to repeat all again.

[2016-04-08 17:04] livelace commented on #33
I can modify script (exit 0) that runs inside hook and all be fine with DC (without any modification of configuration).

I can modify script (exit 0) during attempt of set up DC, and DC will be work fine.

PS. It is possible because I can use dedicated script, that contain "exit 1"

[2016-04-08 17:34] gabemontero commented on #33
On Fri, Apr 8, 2016 at 12:58 PM, Oleg Popov notifications@github.com
wrote:

Hey @livelace - not sure what you mean by "creation progress".  I just see
another Pod yaml for a Pod created by a replication controller.

[2016-04-08 17:35] livelace commented on #33
"Creation progress" - scale DC to 1.

[2016-04-08 17:36] gabemontero commented on #33
Thanks for the additional details.  I have a couple of thoughts on
reworking my repo attempts.  I'll report back when I have something
tangible.

On Fri, Apr 8, 2016 at 1:34 PM, Gabe Montero gmontero@redhat.com wrote:

[2016-04-08 17:38] livelace commented on #33
During hour I can grant access to my test environment, I think.

[2016-04-08 18:08] livelace commented on #33
@gabemontero Can you connect over SSH to my environment ?

[2016-04-08 18:26] gabemontero commented on #33
OK, I've reproduced it.  I did:
1) before starting a deployment, added your lifecycle/podstart with exit 0
2) deployed, then scaled back down to 0
3) edited the DC, changing lifecycle/podstart to exit 1
4) scaled to 1 ... Pod fails, but next gen of RC says it completed successfully.

Note, if I start with the lifecycle/podstart exitting with 1 and initial replicas of 1, then the RC is marked as fa

[2016-04-08 18:27] gabemontero commented on #33
I'll try the exit 1, but initial replicas 0 permutation, then scale to 1, as well ... see if that is different.

[2016-04-08 18:36] livelace commented on #33
It's strange, the problem exist at once after DC import in my situation. But in my situation initial replica count equals 0.

[2016-04-08 18:43] gabemontero commented on #33
So it also occurred for me when:
1) create with exit 1 and replicas 0
2) RC is created with state "Complete", but of course no pod was started up
3) then scale to 1, and RC stays complete when pod fails.

So one interpretation is that the `openshift.io/deployment.phase` annotation on the RC is only updated when the RC is initially created (as part of doing the first deployment, where replicas coul

[2016-04-08 18:51] livelace commented on #33
It is cool, thanks for your help!

[2016-04-08 19:04] bparees commented on #33
@gabemontero it sounds like it's probably working correctly if i understand the scenario.  The RC did complete successfully (deployed successfully).  The fact that the RC can't be scaled up to 1 because basically you've got a bad pod definition isn't going to reverse the fact that the deployment succeeded.  (that is, scaling is not the same as deploying).

it is a bit hokey since you have to start

[2016-04-08 19:10] livelace commented on #33
@bparees  Not sure that is "bad pod definition", because it is correctly. I set my script, which should start after pod initialization, but this script definitely can return 0/1 and DC should reflect to these probable situations.

[2016-04-08 19:15] gabemontero commented on #33
The replica count of the RC is showing 1 in this error scenario @bparees.
I have a "live" version of the error state and that is what it is showing.
And yeah, based on what you outlined, I don't think we should pull in
platform mgmt.

Thus, I think we need to introduce the Pod state verification I had started
earlier this week.

On Fri, Apr 8, 2016 at 3:04 PM, Ben Parees notifications@github.com w

[2016-04-08 19:15] gabemontero commented on #33
Add it within the existing "verify openshift deployment"

On Fri, Apr 8, 2016 at 3:15 PM, Gabe Montero gmontero@redhat.com wrote:

[2016-04-08 19:28] bparees commented on #33
if the pod isn't reported as running, it seems like a mistake for the RC to be reporting the replica count as 1.

[2016-04-08 19:29] bparees commented on #33
@livelace if you want to prevent the deployment from succeeding, you need to use a readiness check, not a post-start hook.

[2016-04-08 19:33] gabemontero commented on #33
On Fri, Apr 8, 2016 at 3:28 PM, Ben Parees notifications@github.com wrote:

[2016-04-08 19:46] livelace commented on #33
@bparees I understand this, but not all configuration contain service. I think, that with liveness probes we can devise something, but it complicate task, instead of just detect pod status.

[2016-04-08 20:10] ironcladlou commented on #33
@kargakis with a post lifecycle hook, can the container become ready and then not ready if the hook fails? It's possible the old rolling updater will observe the first ready state and move on even though the pod will become not ready soon.

[2016-04-08 20:26] ironcladlou commented on #33
Upon closer inspection, @bparees was right with earlier statements: the example is using the default rolling params, so 25% max unavailable (for the desired replica count of 1, this means 0 is the minimum ready pods to maintain during the update is 0). So, scale-down of the old RC will proceed regardless of new RC pod readiness. The absence of a readiness check on the RC's container specs means th

[2016-04-09 08:59] 0xmichalis commented on #33
The rolling updater doesn't care about readiness when scaling up:/

[2016-04-09 12:46] livelace commented on #33
Not working with liveness/readiness probes:
1. Liveness case:

nginx-live.yaml - https://paste.fedoraproject.org/352642/14602069/
RC status -  https://paste.fedoraproject.org/352639/46020692/
Pod status - https://paste.fedoraproject.org/352640/02069641/
1. Readiness case:

nginx-ready.yaml - https://paste.fedoraproject.org/352646/60207412/
RC status - https://paste.fedoraproject.org/352650/2074681

[2016-04-09 12:47] livelace commented on #33
[root@openshift-master1 ~]# cat /share/run.sh
#!/bin/bash

exit 1
[root@openshift-master1 ~]# cat /share/check.sh
#!/bin/bash

exit 0

[2016-04-11 17:40] livelace commented on #33
Guys, tell me something, please :)

[2016-04-11 17:54] ironcladlou commented on #33
Two things here:
1. If your concern is a violation of your minimum availability requirements, use readiness checks and a >0 availability threshold. The rolling updater won't scale down below your threshold given you have readiness checks in place.
2. If your concern is the updater scaling up without regards to pod readiness, we'll need to take the discussion to origin/kubernetes, because the rolli

[2016-04-11 18:03] gabemontero commented on #33
Hey @livelace - to build on what @ironcladlou outlined, @bparees and I have had some discussion offline.  I have a prototype for the plugin which inspects Pod state, but @bparees has convinced me that it only handles rudimentary cases, and that we should finish the path of understanding what is needed for the ReplicationController to more accurately reflect the state of the Pods.... ideally, we st

[2016-04-11 19:19] livelace commented on #33
@ironcladlou @gabemontero

Ok, thanks. I understood this and agree with yours conclusions. At this moment I can detect DC and hook statuses by myself (through "status" files). But I must to know, how this case will be solved.

[2016-04-13 18:00] gabemontero commented on #33
Hey @livelace - to get resolution, at least based on my interpretation of things, they key point is 2) from https://github.com/openshift/jenkins-plugin/issues/33#issuecomment-208510550.

To that end, an issue should be opened against https://github.com/openshift/origin, referencing this issue and basically copying/pasting @ironcladlou 's item 2) from that comment.

As the end user, it would be bes

[2016-04-14 04:52] livelace commented on #34
@gabemontero Hi, how you think, how much time it will take ? I have 10 builds at this moment, but I expect about 50 in near future :)

[2016-04-14 13:26] gabemontero commented on #34
Might be able to get to it today @livelace  .... I'll keep you posted.

[2016-04-14 16:23] gabemontero commented on #34
ok .... provided with https://github.com/openshift/jenkins-plugin/commit/5f60b1eed88a65bb9dd28ede4a86caea4a1e5912

pre-release version built and stored [here](https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/lastSuccessfulBuild/artifact/plugin/openshift-pipeline.hpi)

We'll probably start updating the OpenShift Jenkins image sometime in May.

[2016-04-14 16:23] #34 closed, assigned to gabemontero

[2016-04-14 17:12] livelace commented on #34
@gabemontero Big thanks. It's great news :)

[2016-04-14 19:12] gabemontero commented on #33
Quick status update:  leaving this issue open for now, and will monitor https://github.com/openshift/origin/issues/8507 to see how that progresses.  I'm anticipating things progressing so that the jenkins-plugin can continue to take its validation logic only to the replication controller level, but let's wait and see.  Ideally that occurs and I'll then close this out.

[2016-04-15 06:12] livelace opened #35 "java.lang.NullPointerException during build"
I used pre-release version of plugin - https://github.com/openshift/jenkins-plugin/issues/34#issuecomment-210033672

But build  continued to work in Openshift.

Started by user admin
Building in workspace /var/lib/jenkins/workspace/images/testing-11.0-drweb-dss-opensuse

Starting the "Trigger OpenShift Build" step with build config "testing-11.0-drweb-dss-opensuse" from the project "images".
  Sta

[2016-04-15 14:07] gabemontero commented on #35
oops ... not sure what happened ... I'll take a look in a bit

[2016-04-15 14:20] gabemontero commented on #35
hmmm ... I wonder, was the job you ran the build from created before you installed the new version of the plugin?

Typically, for fields not explicitly set Jenkins has been passing in empty strings.  But if the job was created prior to a new field being added, Jenkins may pass in a null in that case.

[2016-04-15 15:33] gabemontero commented on #35
Yep, I was able to reproduce this locally and verify my theory.  Interesting side effect, which will occur whenever I add a new plugin field in the future.

I'll need to make a more generic, pervasive change on the assumptions build steps make on what Jenkins passes in.

[2016-04-15 15:46] livelace commented on #35
I will try to reproduce this problem (and maybe other), but at now - it is first case.
I have ten jobs, I will set it for executions for whole weekend.

[2016-04-15 16:24] gabemontero commented on #35
Based on my local reproduction / confirmation of my theory, I've created a new pre-release version of the plugin stored [here](https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/lastSuccessfulBuild/artifact/plugin/openshift-pipeline.hpi) that is based on https://github.com/openshift/jenkins-plugin/commit/98c399a828bc36b72e4659542384064284fc66c0.

Closing this issue out - we can

[2016-04-15 16:24] #35 closed, assigned to gabemontero

[2016-04-15 16:26] livelace commented on #35
It was very fast :)

[2016-04-22 17:51] gabemontero commented on #24
@bdeneuter and @livelace :  I've got a question related to your potential preferences on how to capture what to delete.  Would you say prefer:
a) to specify the same json/yaml content you provided to the create resources command, or
b) to specify a simple list of api object type:api object key pairings, or
c) to have both input methods, or
d) some other form I'm not thinking of

[2016-04-22 19:03] livelace commented on #24
Hello.

a) It's needed, I think.
b) I not sure what that means. Can you add examples ?
d) I think, if I can just type DC (other object name)  for deletion - it' will be great.

[2016-04-22 19:35] gabemontero commented on #24
@livelace for b) something like "ImageStream:frontend,BuildConfig:frontend,DeploymentConfig:frontend,DeploymentConfig:frontend-prod"

for d) do you mean simply type in "DeploymentConfig", and we would delete all the DeploymentConfigs in the project?

[2016-04-23 10:16] livelace commented on #24
Your "b" - it's what I mean in my "d".  Conclusion:

a) to specify the same json/yaml content you provided to the create resources command, or
b) to specify a simple list of api object type:api object key pairings ("ImageStream:frontend,BuildConfig:frontend,DeploymentConfig:frontend,DeploymentConfig:frontend-prod")

I think that it will be sufficient for us.

[2016-04-25 01:23] bparees commented on #24
Seems like we should just have the resource-type/resource-name pairings, not sure what benefit users would get from providing the entire resource definition yaml?

[2016-04-25 04:47] livelace commented on #24
Hm, I thought about this situation and I think that will be useful for conveniences. With json/yaml (which may be huge with a lot of elements) I don't must review all objects inside and I can just put its content into Jenkins job.

[2016-04-25 14:44] bparees commented on #24
@livelace ok.  i guess i can see the argument for it as a secondary capability.

@gabemontero another thing to consider is allowing users to provide a label to match for deletions, like you can do on the CLI.  That makes it easier to delete everything a template instantiated, for example.

[2016-04-26 18:47] gabemontero commented on #24
OK, I've built a pre-release version that is stored [here](https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/lastSuccessfulBuild/artifact/plugin/openshift-pipeline.hpi)

It is based off of https://github.com/openshift/jenkins-plugin/commit/b77af1c362bf1276edeb5cc45db8bb08224e525a

Don't know the precise schedule yet of when we'll start updating the OpenShift Jenkins image again

[2016-04-26 18:47] #24 closed, assigned to gabemontero

[2016-04-26 18:53] bparees commented on #24
@gabemontero we can do a new centos image anytime you're confident in the plugin :)

[2016-04-26 18:56] gabemontero commented on #24
On Tue, Apr 26, 2016 at 2:53 PM, Ben Parees notifications@github.com
wrote:

[2016-05-10 05:11] livelace commented on #21
Up. Very inconvenient with tokens. We have about 40 builds + 30 deployment configurations - it's hell of tokens.

[2016-05-10 13:08] bparees commented on #21
i take it you can't simply grant permissions to a single token to access all of those builds and deployments?

[2016-05-10 16:04] livelace commented on #21
I wanted do that at first step, but after some reflections I decided to set permissions separately, by projects (some users can to do some things in other projects too). At this moment it is working, but after I see Jenkins tasks, I can't definitely understand who from users can tag "IS" or can launch "DC", it is impersonal, I need username and password.

[2016-05-13 16:18] spadgett opened #36 "Make methods easier to call from Jenkinsfile pipeline build"
Most steps in a Jenkinsfile take named parameters and use a syntax that is very readable. See the following examples:

https://github.com/jenkinsci/pipeline-plugin/blob/master/TUTORIAL.md#understanding-syntax

Is it possible to make it that easy to call OpenShift plugin methods? Today the calls are verbose.

[code]

I want to write something like this

[code]

with appropriate defaults for params

[2016-05-13 16:28] spadgett commented on #36
See also https://github.com/jenkinsci/pipeline-plugin/blob/master/DEVGUIDE.md

[2016-05-13 16:33] gabemontero commented on #36
@spadgett see https://trello.com/c/jOEuMkze/924-provide-jenkins-dsl-for-openshift-pipeline-plugin-steps-plug-points

I'll cross reference this issue there.

[2016-05-13 16:35] spadgett commented on #36
Thanks @gabemontero I'll close this issue since we're tracking in Trello.

[2016-05-16 11:15] livelace opened #37 "Doesn't detect build error before expiry timeout"
What happen:
1. Set global timeout - 3 hours.
2. Launch build.
3. The build ended with error.
4. Jenkins is waiting 3 hours, to detect error.

Can we detect errors at once, don't wait timeout expiration ?

[2016-05-16 18:48] gabemontero commented on #37
Yep, I think I can get to this either today or Tuesday local time for me.

[2016-05-16 18:57] gabemontero commented on #21
As an FYI, we are tracking this request with [this trello card](https://trello.com/c/QjgmeISb/884-more-credential-mgmt-wrt-jenkins-plugin)

[2016-05-16 20:31] gabemontero commented on #37
Fix delivered to repo via [this commit](https://github.com/openshift/jenkins-plugin/commit/d0481f7fb63ed27bf8d3f38370cf7b80abbb0331)

Pre-release built version of the plugin is [here](https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/lastSuccessfulBuild/artifact/plugin/openshift-pipeline.hpi)

Most likely I'll start the next official release cycle for the plugin in the next day

[2016-05-16 20:31] #37 closed, assigned to gabemontero

[2016-05-17 08:06] livelace opened #38 "FR: Post-build Actions - Scale Development"
Hello.

Current workflow:
1. "job-run" - scale development to 1, do something, call "job-down" in any situation (exit 0/1).
2. "job-down" - scale development to 0, do something.

Why we can't do this in one job, steps:
1. Scale development to 1
2. Execute a shell script, which return status of execution on step 1
3. Scale development to 0

If error will appear on step 2 (exit 1), the step 3 will n

[2016-05-17 14:21] gabemontero commented on #38
Yeah, I _could_ see having both a build step and post-build action version of `oc scale` (where today we just have the build step.

@bparees FYI

[2016-05-17 14:40] bparees commented on #38
yeah sounds reasonable.  In the meantime of course you can do a post-build shell script step that invokes oc to scale the deployment down, to avoid having a second job, right?

[2016-05-17 14:53] gabemontero commented on #38
Correct @bparees re: post build shell script invoking `oc scale`

On Tue, May 17, 2016 at 10:40 AM, Ben Parees notifications@github.com
wrote:

[2016-05-17 15:01] livelace commented on #38
Jenkins is working on other host and assemble hack with remote "oc scale" ... authentication with superadmin/cluster-admin rights ... I think we will wait post-build steps, because double jobs already created and extra manipulation not needed.

[2016-05-18 14:03] gabemontero commented on #37
FYI v1.0.11 is out and the openshift centos jenkins image has been updated with it.

[2016-05-18 15:00] livelace commented on #37
@gabemontero Big thanks :)

[2016-05-18 23:22] 0xmichalis commented on #33
All the links are dead unfortunately. Why a readiness probe is not working for your case @livelace? There are different kinds of probes, if you cannot use http, you can run shell commands (exec) or try to open a tcp connection.

[2016-05-19 13:03] ikke-t opened #39 "Add option to ignore SSL errors"
I tried using these plugins for Dev -> Test -> Prod process flow. They fail if the OSE cluster has self signed certs. It would be fixed eg. by having checkbox to pass "--insecure-skip-tls-verify" option to oc command in each plugin.

"As a user, I would like to have option to ignore SSL errors in each plugin."

ERROR: Build step failed with exception
com.openshift.restclient.OpenShiftException: ja

[2016-05-19 13:27] ikke-t commented on #39
I got pointed to this README file https://github.com/jenkinsci/openshift-pipeline-plugin/blob/master/README.md#certificates-and-encrpytion , which seems to have a way around this. I'll try.

[2016-05-19 13:39] gabemontero commented on #39
I was just about to point you that link :-)

Let us know what happens.

On Thursday, May 19, 2016, Ilkka Tengvall notifications@github.com wrote:

[2016-05-19 14:20] ikke-t commented on #39
SKIP_TLS=true fixes it. I just wonder why, as I verified that the cert in jenkins container: /run/secrets/kubernetes.io/serviceaccount/ca.crt and ose master:/etc/origin/master/ca.crt are the same.

[2016-05-19 14:54] gabemontero commented on #39
ok cool @ikke-t

On your cert question, it is a function of how your OpenShift is set up and how it mounts secrets into any Pod (including the one Jenkins is running in), independent of the plugin.

See https://docs.openshift.com/enterprise/3.0/dev_guide/service_accounts.html#managing-service-account-credentials

@bparees please keep my honest / correct as needed.

[2016-05-19 14:54] #39 closed, assigned to gabemontero

[2016-05-20 07:28] livelace commented on #33
@kargakis No, readiness and liveness probes don't working in this case. I repeat @bparees statement

"the fundamental issue in my mind is that the replication controller is reporting an active count of 1 despite the fact that the only pod that exists is in a FAILED state."

[2016-05-20 08:04] 0xmichalis commented on #33
Sorry for jumping from one thread to the other but upstream deployments have no hooks yet. If your problem is that you want a failed hook to fail your deployment you can specify [FailurePolicy](https://github.com/openshift/origin/blob/3c294342618cf58d23b1401cf6d44350cc6fd016/pkg/deploy/api/types.go#L92) == [Abort](https://github.com/openshift/origin/blob/3c294342618cf58d23b1401cf6d44350cc6fd016/pk

[2016-05-20 11:44] livelace opened #40 "Broken tagging between projects with 1.0.12"
https://paste.fedoraproject.org/368841/14637447/

With 1.0.11 all working fine.

[2016-05-23 18:52] gabemontero commented on #40
OK ... I _think_ I've reproduced this, though some confirmation of the details would be good.
In particular, from the job output provided, I surmised that:
1) Jenkins was not running in either of the projects involved in the tagging
2) as such, you provided auth tokens for both the source and destination projects
3) I took at stab and guessed you provided edit access of the destination project to

[2016-05-24 05:21] livelace commented on #40
@gabemontero

Its works. Thanks. So we should give "edit" access to source and destination projects in future ?

[2016-05-24 13:56] spadgett opened #41 "Build stage runs for a long time, marked successful after build fails"
ruby-sample-build-4 was kicked off by sample-pipeline-4. The s2i build failed after one second, but the pipeline stage ran for ~5 minutes.

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/15506226/d502e3a6-2194-11e6-8960-c1fdc7df47c9.png)

Much later the pipeline stage was marked as successful even when the build failed.

![openshift_web_console](https://cloud.githubuse

[2016-05-24 13:56] spadgett commented on #41
/cc @sspeiche

[2016-05-24 14:01] bparees commented on #41
is that the entirety of your jenkinsfile?  i know i saw the same issue where a failing build step didn't immediately fail the entire pipeline, but i didn't see it hang for 5 minutes, it just completed the pipeline.  Any idea what it was doing for the rest of the time?

[2016-05-24 14:02] gabemontero commented on #41
@spadgett this had been reported by an upstream customer, and he at least had confirmed that https://github.com/openshift/jenkins-plugin/commit/d0481f7fb63ed27bf8d3f38370cf7b80abbb0331
had addressed the issue for him (so this is independent from / unrelated to the DSL changes).

Can you first confirm the level of the plugin you are running with?

[2016-05-24 14:04] spadgett commented on #41
No, I have a deploy step after the build completes.

1.0.10 now. I can try 1.0.12.

[2016-05-24 14:06] gabemontero commented on #41
Yeah, the fix went into 1.0.11; if for some reason 1.0.12 does not solve it for you, I'll dive into how to debug.

[2016-05-24 15:10] spadgett commented on #41
@gabemontero I think there are two problems here
1. The build in Jenkins takes a long time to fail
2. The build stage is marked as successful in the pipeline

1.0.12 solves (1), but not (2). The stage in the pipeline is successful even though the s2i build failed

@bparees I was able to reproduce this with your pipeline templates by editing the bc/ruby-sample-build to use a bogus source URL

[2016-05-24 15:12] gabemontero commented on #41
@spadgett can you show me the console output?

[2016-05-24 15:16] spadgett commented on #41
Jenkins console log:

[code]

All pipeline stages are succesful:

![openshift_web_console](https://cloud.githubusercontent.com/assets/1167259/15509225/ba6bf08a-21a0-11e6-8dea-0f815ab82e5b.png)

Here is my Jenkinsfile (from @bparees pipeline template https://github.com/openshift/origin/pull/8973)

[code]

[2016-05-24 15:28] bparees commented on #41
so the issue is either:
1) the openshift plugin isn't reporting that the step failed
2) the jenkins pipeline plugin doesn't actually fail the pipeline when a step fails.

i don't know enough about either to speculate where the problem actually is.

[2016-05-24 15:28] gabemontero commented on #41
@spadgett thanks, I believe I know what is going on now.

Right after the message

`Exiting "Trigger OpenShift Build" unsuccessfully; build "ruby-sample-build-2" has completed with status:  [Failed].`

openshift-pipeline plugin returns `false`.  In the classic Jenkins job, that will result in the job failing.  The Jenkins API in that case expects a boolean it will interpret.

However, in the very

[2016-05-24 15:28] bparees commented on #41
but apparently @gabemontero does :)

[2016-05-24 17:07] gabemontero commented on #41
@spadgett try installing [this version](https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/lastSuccessfulBuild/artifact/plugin/openshift-pipeline.hpi) of the plugin

[2016-05-24 17:08] gabemontero commented on #41
Here is the [associated commit](https://github.com/openshift/jenkins-plugin/commit/661177d7068d4deeccd864dbc88e1bb89f1e869f)

[2016-05-24 17:37] spadgett commented on #41
Works great. Thanks @gabemontero

I'd suggest changing the message if possible.

[2016-05-24 18:43] gabemontero commented on #41
Cool deal.  Changes to the message are possible - do you have a specific
suggestion for the message?

On Tue, May 24, 2016 at 1:56 PM, Sam Padgett notifications@github.com
wrote:

[2016-05-24 19:03] spadgett commented on #41
I think just "ERROR: OpenShift build failed." or "ERROR: OpenShift deployment failed." etc. are more clear.

[2016-05-24 20:23] gabemontero commented on #40
Thanks for the confirmation @livelace .  For now, the answer is "yes" to your question.

We do have some discussions going on in the background wrt our Jenkins scenarios and the various roles/bindings/access for the associated service accounts.  I also want to circle back to this and experiment with varying the roles used, see if something less than `edit` is workable.

I'll keep this issue open u

[2016-05-25 17:17] gabemontero commented on #36
Hey @spadgett @bparees @sspeiche @fabianofranz @jwforres @siamaksade  - I reopened this issue to facilitate the discussion on the precise syntax and naming for the DSL, given some of the relevant history is already documented here, as well as which jenkins plugin extension points to leverage (we have choices, and more than one has been suggested).

I'll post an update with some early results from

[2016-05-25 17:35] gabemontero commented on #36
So my initial prototype (and favorite) is along the lines of what @spadgett outlined in this issue's description, and builds on the [README for building Pipeline steps](https://github.com/jenkinsci/workflow-step-api-plugin) as well some [reference examples](https://github.com/jenkinsci/pipeline-utility-steps-plugin)

Following this model, I have a DSL where a build can be started from a Jenkinsfil

[2016-05-25 17:54] gabemontero commented on #36
Use of the [Job DSL plugin](https://github.com/jenkinsci/job-dsl-plugin/wiki) has also been suggested.  It is separate from the pipeline/workflow plugins, and if I remember correctly, it is precursor of sorts to workflow/pipeline (though I'm not absolutely certain for sure).

Today at least, the dev version of the OpenShift Jenkins image is _NOT_ installing this plugin.  Just the pipeline/workflow

[2016-05-25 18:11] gabemontero commented on #36
Last initial item as part of reopening this issue for soliciting feedback / discussion:  the [kubernetes client plugin from the fabric guys](https://github.com/fabric8io/kubernetes-client) promotes that it provides a "fluent DSL".

I'll clarify (and let me be clear that in no way is this a criticism) that their DSL does not build off of job-dsl-plugin, workflow-step-api, or workflow-cps DSL relate

[2016-05-25 19:08] bparees commented on #36
definitely buildConfig :)  Where do other parameters go?  would the full command be something like:

[code]

?

agree.  you can always have parallel steps if you want effectively async behavior, right? (rather than making the implementation asynchronous).

regarding the actual syntax... i like the job-dsl style of:

[code]

the "def builder = ....." syntax strikes me as strange, especially since a

[2016-05-25 19:31] gabemontero commented on #36
Bits flowing in parallel .... just discovered that fabric does in fact, in
their kubernetes workflow plugin
https://github.com/fabric8io/kubernetes-workflow (so many different
plugins :-( ), does in fact implement the
same workflow DSL extension points as my prototype.  Now that I know more
precisely what to look for, I was able to improve upon my earlier scans.

I'll start studying what they do p

[2016-05-25 19:41] bparees commented on #36
ok fair enough, i clearly didn't fully understand the job-dsl syntax fully.  I agree that's uglier and i'm not such a fan.

[2016-05-25 19:43] gabemontero commented on #36
On Wed, May 25, 2016 at 3:41 PM, Ben Parees notifications@github.com
wrote:

[2016-05-25 22:06] gabemontero commented on #36
I figured out how to avoid the `def builder =` snippet (thanks to some cross referencing with the fabric stuff).

With the same prototype, I'm able to simply put in my groovy script:

`OpenShiftBuilder(bldCfg: 'frontend')`

They have similar step `kubernetesApply(....)` that takes parameters in the same way.

On the naming front, aside from the bldCfg -> buildConfig, per @spadgett 's origin sample

[2016-05-26 16:44] 0xmichalis commented on #33
@livelace any news here? Did hooks work for you?

[2016-05-26 21:18] gabemontero commented on #36
I was able to mimic our classic "OpenShift Sample Job" in a pipeline job with the following pipeline groovy script, using the workflow DSL plugin points where you can execute a single step and the number of parameters can vary (where there is a minimum set, followed by optional parameters)

`node {`
`openShiftScale(deploymentConfig: 'frontend', replicaCount: '0')`
`openShiftBuild(buildConfig: 'fro

[2016-05-26 21:26] bparees commented on #36
I think i could definitely live w/ the first example you show above (the one w/ parameters), and i don't have very strong feelings about the names but i think i'm disinclined to include "oc" in the naming, since that implies a similarity that may not run all the way through.

[2016-05-26 21:29] sspeiche commented on #36
The first example looks very usable. Though I could see something like this being quite handy as well:

`oc.build('mybuild').start()` or `oc.build('mybuild').start().verbose().follow().do()`

`oc.deploy('mydeploy').start()`

[2016-05-26 21:42] gabemontero commented on #36
On Thu, May 26, 2016 at 5:26 PM, Ben Parees notifications@github.com
wrote:

[2016-05-26 21:43] gabemontero commented on #36
Yeah, I think the naming of the `oc.` bit will cause the most
consternation.  Let's sleep on it.

On Thu, May 26, 2016 at 5:29 PM, Steve Speicher notifications@github.com
wrote:

[2016-05-27 05:04] livelace commented on #33
@kargakis I'm sad :(

[code]

[root@openshift-master1 ~]# oc get pods
NAME              READY     STATUS             RESTARTS   AGE
test-1-deploy     1/1       Running            0          8m
test-1-hook-pre   0/1       Completed          0          5m
test-1-oo71c      0/1       CrashLoopBackOff   3          6m

[root@openshift-master1 ~]# oc get dc
NAME            REVISION   REPLICAS   TRIGGERE

[2016-05-27 05:15] livelace commented on #33
If pod inside broken - we should mark DC as failed and replica count should be 0, because existing replica isn't the same that working replica is.

[2016-05-27 09:05] 0xmichalis commented on #33
@livelace the timeout for deployments is at 10m. If you waited 2 more minutes you would see that the deployment will be marked as failed and eventually scaled down to zero:)

[code]

Note that your use of the deployment hook didn't do anything and the deployment hook was complete. I think in your case you would want a post hook with Abort policy with a script that makes sure your application pod i

[2016-05-31 07:34] livelace commented on #33
@kargakis

The deployment hook is useful when we should be sure that new version of software working as expected and go back to working deployment if fail. But we have different situation. Our deployment should be launched and if container hook (which do some bunch of things inside, it is dynamic configuration) return error - deployment should be marked as failed.

The deployment hook isn't workin

[2016-05-31 08:21] 0xmichalis commented on #33
@smarterclayton @ironcladlou, @livelace wants container hooks to be taken into account for deployments. Thoughts?

[2016-05-31 17:01] 0xmichalis commented on #33
@livelace actually can you try to run a deployment with a container postStart hook that fails and see if it works for you after 10 minutes?

[2016-05-31 17:21] livelace commented on #33
@kargakis

[code]

[code]

[code]

@bparees @gabemontero Can we detect and wait this behavior during "Scale Deployment"  in Jenkins ?

[2016-05-31 17:22] livelace commented on #33
"Verify whether the specified number of replicas are up" already exist.

[2016-06-01 03:10] bparees commented on #33
@livelace detect and wait for what exactly?  I still haven't seen a satisfactory answer for why the replication controller is reporting N current pods when those pods are in a failed state.

[2016-06-01 05:21] livelace commented on #33
@bparees @kargakis Ok. I think, minimum two variants:
1. Report about replica count  on early stage (immediately after a container hook return an error).
2. When we do "Scale Deployment", we may wait and check that this deployment not in failed state.
3. ?

[2016-06-01 09:09] 0xmichalis commented on #33
Because it's not the job for a replication controller but for a deployment. The rc/rs will always report what it has created but it cannot know if those pods are running.

You shouldn't deploy zero replicas and scale after the fact. That's why we use deployments in the first place, otherwise we would still use replication controllers. Deployments ensure that your pods are able to run. Replication

[2016-06-01 09:30] livelace commented on #33
Our deployments are always can run and working without any problem. Pods work excellent. But we use container hooks, which launch integration tests with other services in different pods.

If we will do all possible deployment configurations which will contain all possible combination of our software - it's impossible. And we can't hold pods online all time.

[2016-06-01 10:03] 0xmichalis commented on #33
Would it make sense to group all those containers together? Or are those other services independent components of your system?

Do you really need to scale down to zero here or could you just stop directing traffic to those pods?

[2016-06-01 10:14] livelace commented on #33
Yes, it is. For example: three containers, each should be set specific settings and all communicate each other + exist "external" services (not in the same pod) and they also in connection with other.

We need:

step 1: start/scale DC to N
step 2: wait tests completion
step 3: stop/scale DC to zero

[2016-06-01 10:25] 0xmichalis commented on #33
Try setting dc.spec.test=true

You should deploy it everytime you need it to run (`oc deploy NAME --latest`).

[2016-06-01 10:37] livelace commented on #33
@kargakis Thanks, but:

``
[root@openshift-master1 11.0]# oc explain dc.spec.test
FIELD: test <boolean>

DESCRIPTION:
     Test ensures that this deployment config will have zero replicas except
     while a deployment is running. This allows the deployment config to be used
     as a continuous deployment test - triggering on images, running the
     deployment, and then succeeding or failing. Po

[2016-06-01 12:07] 0xmichalis commented on #33
There are a couple of things you can do in such a scenario. One is you can setup posthooks in DC1/DC2 to wait for DC3 to complete. DC3 comes up, runs its tests, completes, DC1 and DC2 complete. All are scaled down automatically because they have dc.spec.test=true.

You can also play around with custom deployments:
http://lists.openshift.redhat.com/openshift-archives/dev/2016-May/msg00037.html

[2016-06-01 12:17] 0xmichalis commented on #33
You could also setup a prehook for DC3 to start DC1 and DC2 and wait for them to be running so you would need to run just DC3.

[code]

Complicated but it could work.

[2016-06-01 12:18] livelace commented on #33
@kargakis  Thanks, I will try it later.

PS. Thorny our way :)

[2016-06-01 12:26] 0xmichalis commented on #33
The thing is that by scaling deployment configs up/down to zero instead of actually deploying them, you lose all the benefits you get from using deployments. Replication controllers by design cannot detect failures and I don't think it will ever change especially in the light of ... having deployments:)

[2016-06-01 14:45] 0xmichalis commented on #33
DC3 also sounds a lot like a Job:
https://docs.openshift.org/latest/dev_guide/jobs.html

[2016-06-01 14:49] livelace commented on #33
Actually deployments work fine, because they trigger by "image change" and it's Ok.

DC3 - it's most easy thing in configuration. I saw "Jobs" previously.

[2016-06-01 14:52] livelace commented on #33
Main challenge - use multiple deployments (services inside) with each other. At this moment after scaling we just check file flag, which indicate about tests execution inside deployment (with Jenkins help). But we want more mature/right mechanism.

[2016-06-01 18:09] gabemontero commented on #36
I've finished my dive into the fabric implementation of the pipeline "GlobalVariable" api / extension point and fluent style API, and concluded that to do it well will require a good bit of work.  This, along with the feedback already received, I'm punting on taking that on with this iteration's effort.

Of course we can track user consumption of this and can add cards/work in the future for this

[2016-06-01 18:09] #36 closed, assigned to gabemontero

[2016-06-02 09:19] livelace commented on #38
It's more complicated than just "oc scale", because in addition we should verify (  "Verify whether the specified number of replicas are up", oc scale --replicas=0) that deployment completely stopped and after that do something with a data, which was appeared after work of deployment.

[2016-06-03 03:03] gabemontero commented on #41
OK, I went with our "meticulously" crafted "official" step titles :-) ... i.e.:

ERROR: "Trigger OpenShift Build" failed

Going ahead and marking this closed.

[2016-06-03 03:03] #41 closed, assigned to gabemontero

[2016-06-08 20:01] gabemontero commented on #40
@livelace - finally circled back to this, and confirmed that each project's service account needs edit access to the other project.  There are updates that occur to the source project's image stream as part of creating the destination tag.

[2016-06-08 20:01] #40 closed, assigned to gabemontero

[2016-06-08 21:09] livelace commented on #40
@gabemontero Thanks!

[2016-06-13 06:58] livelace commented on #38
up

[2016-06-13 13:37] gabemontero commented on #38
Yeah, this could be a fairly quick one.  Things are shaping up that I'll have some cycles for this one in the next day or two.

[2016-06-13 14:40] livelace commented on #38
@gabemontero Big thanks! Just it is last part before we will add bulk of tasks.

[2016-06-13 16:29] gabemontero commented on #38
@livelace - this [pre-release version](https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/lastSuccessfulBuild/artifact/plugin/openshift-pipeline.hpi) should contain [this commit](https://github.com/openshift/jenkins-plugin/commit/97116cb5f90742de23adfbde5a940d4ac5a6107d), which introduces the "Scale OpenShift Deployments" post build action.

Closing this out.

[2016-06-13 16:29] #38 closed, assigned to gabemontero

[2016-06-13 18:46] gabemontero commented on #20
Note, this request is captured on our trello board at https://trello.com/c/Yl4qomsw/878-5-additional-jenkins-plugin-enhancement-requests-from-github

[2016-06-13 18:49] gabemontero commented on #27
This request is being tracked by the trello card https://trello.com/c/Yl4qomsw/878-5-additional-jenkins-plugin-enhancement-requests-from-github

[2016-06-13 20:43] livelace commented on #20
It will be nice. Today we set path to script statically (inside DC), it is not very convenient. Also, if it will be provide timeout settings ... it will be very happy day :)

[2016-06-30 05:48] ullgren opened #44 "Set variables after completed OpenShift Jenkins Build Step"
Would be useful if the OpenShift Jenkins plugin could set environment variables after a completed jenkins "Build Step".

For instance after triggering a new build it would be useful if the build instance number/name in OSE or the hash of the resulting image in OpenShift would be available as environment variables in Jenkins.

Similar other "Build Steps" such as "Verify Deployment" could extract in

[2016-06-30 15:34] gabemontero commented on #44
I've looked into this in the past and found that EnvVars I set in one step were not available in subsequent steps.  But since then, I've learned that I might have needed something like the [EnvInject plugin](https://wiki.jenkins-ci.org/display/JENKINS/EnvInject+Plugin) to get this to work.

Now, we've got a bunch of in-progress work around Jenkins Pipelines that are for example setting annotations

[2016-06-30 17:36] bparees commented on #44
@gabemontero let's open this as a card on the trello backlog and close this issue.

[2016-06-30 17:41] gabemontero commented on #44
trello card on devexp backlog:  https://trello.com/c/uPfbMfwT/986-exchange-environment-variable-between-jenkins-build-steps

[2016-06-30 17:41] #44 closed, assigned to nobody

[2016-06-30 17:44] gabemontero commented on #27
closing out issue ... will track via trello cards

[2016-06-30 17:44] #27 closed, assigned to gabemontero

[2016-06-30 17:45] gabemontero commented on #21
closing out ... tracking with trello card

[2016-06-30 17:45] #21 closed, assigned to gabemontero

[2016-06-30 18:59] gabemontero commented on #21
closing issue - will track via previously noted (on May 16) trello card

[2016-06-30 19:00] gabemontero commented on #20
closing out - will track with trello card noted on Jun 13th

[2016-06-30 19:00] #20 closed, assigned to gabemontero

[2016-06-30 19:01] gabemontero commented on #7
closing out - tracking with 2 trello cards noted on Dec 11th.

[2016-06-30 19:01] #7 closed, assigned to gabemontero

[2016-06-30 19:30] gabemontero commented on #33
My interpretation is that the discussions here have circled back to https://github.com/openshift/origin/issues/8507

We also got clarification from @kargakis back with https://github.com/openshift/jenkins-plugin/issues/33#issuecomment-222936166 on why the RC was reporting what it was reporting.

And based on the discussions noted with https://github.com/openshift/jenkins-plugin/issues/33#issuecomm

[2016-06-30 19:30] #33 closed, assigned to gabemontero

[2016-07-01 12:16] ullgren opened #45 "Create OpenShift Resource(s) task tries to create resource in wrong project"
Using the "Create OpenShift Resource(s)" task it tries to create the resource in the same project as the Jenkins service run in even when specifying another project in the task configuration.

![jenkins-create-resource-buildstep-config](https://cloud.githubusercontent.com/assets/536239/16521323/6491f72c-3f96-11e6-9f0c-22478942c68b.png)

[job execution log](https://github.com/openshift/jenkins-plug

[2016-07-01 12:24] ullgren opened #46 "Improve the "oc new-app" build task"
Add the possibility to create new resources based on a preinstalled template or image just as you can do with

`oc new-app https://github.com/openshift/cakephp-ex.git --template=cakephp-example --name=mycake`

[2016-07-01 13:25] gabemontero commented on #46
Yep, adding an `oc new-app` equivalent to the plugin has come up before.  There has been reluctance to do so in the past, but the votes keep coming in.

We can use this item to have another round of the discussion.

A couple of follow up questions to you @ullgren to drill down on the scenario:

1) What advantages to you see from doing it from the plugin vs. doing it from either the command line ou

[2016-07-01 13:30] gabemontero commented on #45
Yep, we don't currently parse the json/yaml for namespace specifications and adjust the REST call accordingly.  Same goes for the resource deletion steps.

We minimally need to document the behavior, if not change the implementation to handle this.

@bparees - any initial opinions on what we want to do here (I'm leaning toward code change, but with the background around create/delete, I don't thin

[2016-07-01 13:44] bparees commented on #46
yeah i'm still pretty reluctant, especially since you can always invoke oc new-app via a shell command step.  If we did do it, I think the only realistic way we can implement it is as a system call from the plugin to the oc command line anyway (there is no server side api for new-app, it's all client side logic which we aren't going to re-implement in the plugin).

But i'm definitely interested in

[2016-07-01 15:32] bparees commented on #45
not certain i understand the behavior.

if the resource being created does NOT itself define a namespace in the metadata, does it get created in the namespace defined by the build step (and defaults to the current jenkins namespace)?

and if the resource does define a namespace in the metadata, does it get created in that namespace?

[2016-07-01 17:21] gabemontero commented on #45
On Fri, Jul 1, 2016 at 11:32 AM, Ben Parees notifications@github.com
wrote:

Right now the create build step always creates all resources in the
namespace specified  in the create build step config (or if none is
specified there, it uses the namespace of the jenkins service mounted into
the pod
for all objects it creates), using the auth token specified (where if if
none is specified, it using the

[2016-07-01 18:34] bparees commented on #45
what does "oc create -f foo.yaml -n somenamespace" do when foo.yaml specifies a namespace?  we should expect to align with that.

[2016-07-01 19:16] gabemontero commented on #45
On Fri, Jul 1, 2016 at 2:34 PM, Ben Parees notifications@github.com wrote:

[2016-07-01 20:04] ullgren commented on #46
1) Two main reasons:
A) I do **not** always run Jenkins as a OSE application. I have some setups where I have a separate Jenkins setup already in place that I just want to communicate with an existing OpenShift cluster. It is then more convenient to use a plugin that relay on a system binary beeing installed.

B) Convenience for persons that are not familiar with oc commands (or shell scripting).

[2016-07-01 20:07] ullgren commented on #46
Also if it is not implemented you should probably put something in the README under the "Jenkins "build steps"" section that this is not and will not be implemented and suggest to use the oc binary instead.

Or I guess the request will keep popping up :-)

[2016-07-01 20:12] ullgren commented on #45
Note that in this case I did **NOT** set a namespace in the yaml text field.

I did however put a namespace/projectname in the text filed that say "The name of the project to create the resource in". I would have thought that this was the equivalent to having "-n demo" on the commandline when calling the oc binary. However this namespace/projectname is ignored.

So it is not (at least not in my ca

[2016-07-01 20:14] bparees commented on #46
sure, that's the logical conclusion, but obviously we prefer to provide a useful wrapper/parameterization/checking where we can.  just doesn't look like new-app will be one of those places.

sure we can do that w/ a link to this issue.

[2016-07-01 20:20] gabemontero commented on #46
Some embedded response below.

@bparees - there might be enough here to open a trello card and/or add a
topic to upcoming futures discussions ... thoughts?

On Fri, Jul 1, 2016 at 4:04 PM, Pontus Ullgren notifications@github.com
wrote:

wrt `oc new-app` in particular, as @bparees mentioned, most likely if we
exposed something it would entail a process fork of the `oc` binary (there
is not a "new-a

[2016-07-01 20:24] gabemontero commented on #46
On Fri, Jul 1, 2016 at 4:07 PM, Pontus Ullgren notifications@github.com
wrote:

[2016-07-01 20:31] bparees commented on #46
or just having the oc binary on your jenkins host.... right?  all the credentials and other stuff i assume we allow you to provide in other ways so we don't need the /var/run/secrets service account file.

it'd be a good arch call topic, but my position is that unless we rewrite new-app to be a server side endpoint, we wouldn't do this.  and it'd be hard to implement as a server side endpoint sinc

[2016-07-01 20:31] bparees commented on #46
(in case my reponse wasn't clear: i don't want to open a trello card for it at this point)

[2016-07-01 20:32] ullgren commented on #46
If the option is to have a process fork of the oc binary I personally would rather see you do not implement it (since it would add a requirement to have the oc binary). Then instead document it and let users decide them self when to do process forks.
As I wrote above when I posted the request I was not aware that this was not part of the server API. Since it isn't I fully understand your reluctanc

[2016-07-01 20:36] gabemontero commented on #46
OK, we (the team @bparees and I are on) can still have the arch call discussion, but short term, we'll keep this open, and I'll think about how to precisely address this in the README (I think documenting this is conceivably a slippery slope as well).

When ready I'll open a PR for the three of us to review the doc change.

[2016-07-01 20:36] ullgren commented on #46
Yes that would work. But it is not always we have access to installing system binaries (or even have system accounts). Installing a plugin however we can do from Jenkins. And yes we can work around this by doing a Jenkins job that, using shell tasks, wget the oc binary and installs it. However I guess some grumpy sysadmin character will say some grumpy things about Java developers if we do that :-

[2016-07-07 14:23] rhamilto opened #47 "Build trigger fails waiting for logs"
this is the jenkins console output.  @bparees to provide color.

[code]

[2016-07-07 14:28] bparees commented on #47
@gabemontero ptal, this build took a long time to start, possibly because it was pulling the image.  It appears in the meantime something timed out in the plugin and it decided the build was failed (with a null status).  I think it may have timed out waiting for the logs to start, because the build step is configured to stream the logs back.

[2016-07-07 14:32] gabemontero commented on #47
Can we re-run this with verbose logging turned on (see the readme for
instructions)?

There are configurable timeout settings (also explained in the readme).  We
could explore changing the default if the new pipeline stuff needs more
elbow room.

On Thursday, July 7, 2016, Ben Parees notifications@github.com wrote:

[2016-07-07 14:41] bparees commented on #47
it's probably going to be hard to recreate since it only happened when the image was being pulled (@rhamilto you could try docker rmi'ing the image locally so it has to be re-pulled next time).

at a minimum it seems like if we hit a timeout we need a better status report.

what is the default timeout?

[2016-07-07 14:41] bparees commented on #47
(I don't think the pipeline stuff is causing the timeout to need to be longer, since this was still just a straightforward "trigger a build and wait for it" build step)

[2016-07-07 21:09] rhamilto commented on #47
@bparees, i docker rmi-ed the image (and dependent images) and was able to reproduce the build failure on the initial build.  The subsequent second build was successful (as it was earlier).

[2016-07-11 18:16] gabemontero commented on #45
FYI - I've reproduced this and am working on a fix.

[2016-07-11 18:53] gabemontero commented on #45
So I believe the problem where the namespace specified in the build step field was not used was introduced with commit 373afaa904f1db7af62f967a11f82e81b857216e (from about 4 weeks ago).

This bug actually affects all the build steps, not just the create resources one.  So I'm bumping the priority to p2.

With the fix I will soon commit, if you specify a project that is different from the project j

[2016-07-11 19:29] gabemontero commented on #45
OK, I got the pulling of the namespace from the json/yaml working easily enough.  Will include this change, along with the doc updates mentioned previously around permissions for the service account.

[2016-07-11 20:04] gabemontero commented on #47
@bparees - the default build timeout is 5 minutes.

Pending an update to that amount, I can certainly work on having the error message indicate that we quit waiting on the build to complete.  I'll start on that in a bit.

[2016-07-11 20:05] bparees commented on #47
@gabemontero that's just a timeout waiting for the build to start, not a timeout waiting for the build to complete, right?

[2016-07-11 20:06] gabemontero commented on #47
@bparees no, it currently is the timeout to complete.

[2016-07-11 20:07] gabemontero commented on #45
Delivered fixes with https://github.com/openshift/jenkins-plugin/commit/895c47ba363b3524df70adba40f3b001daf46108

Built, pre-release version of the plugin with this change can be found [here](https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/23/s3/download/openshift-pipeline.hpi)

When it comes out, V1.0.21 will be the official release with the fix.

Closing this out - please r

[2016-07-11 20:08] bparees commented on #47
@gabemontero I think we should raise that default to at least 15 mins then. (Along w/ making the error clear about why we gave up).

[2016-07-11 20:15] gabemontero commented on #47
@bparees will do ... I _may_ have found a scenario where we quit waiting too soon.  Addressing that will be part of the change.

[2016-07-11 20:26] gabemontero commented on #47
My proposal on the new message:

`Exiting "Trigger OpenShift Build" unsuccessfully; build "ruby-sample-build-1" :  did not complete successfully within the configured timeout;  last reported status: [NotStarted].`

[2016-07-11 20:30] bparees commented on #47
can we print the timeout value in the message?

otherwise lgtm

[2016-07-11 20:33] gabemontero commented on #47
Sure i'll add that

On Monday, July 11, 2016, Ben Parees notifications@github.com wrote:

[2016-07-11 21:00] gabemontero commented on #47
Fixes introduced with https://github.com/openshift/jenkins-plugin/commit/9e4c19fded368e5b931342f156f2e93b5350f8a9

A pre-release version of the plugin with the fix is located [here](https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/24/s3/download/openshift-pipeline.hpi)

V1.0.21 will be the released version with this fix.

[2016-07-11 21:00] #47 closed, assigned to gabemontero

[2016-07-12 08:01] livelace opened #49 "FR: Using variables as substring in names of configurations"
Hello. At the moment we can use variables like this:

[code]

But we can not do like this:

`The name of the DeploymentConfig to scale: drweb-fss-VERSION or drweb-fss-$VERSION or drweb-fss-${VERSION} or drweb-fss-${VERSION}-rpm`

We have a lot of similar tasks, which are different only in software version.

[2016-07-12 14:00] gabemontero commented on #49
sure, I could see supporting both $VERSION and ${VERSION} style embedded variables for parameter values (EnvVars and the standard plugins in this space support both) with little trouble.

I'll most likely start cooking a new version of the plugin for some recent fixes in the next couple of days.  I'll see if I can incorporate this change as part of that.

@bparees FYI

[2016-07-12 14:16] #46 closed, assigned to gabemontero

[2016-07-12 15:15] livelace commented on #49
@gabemontero Thanks! :)

[2016-07-12 16:42] gabemontero commented on #49
YW @livelace

By the way, after digging some more, at least for mixed items like `drweb-fss-${VERSION}`, in experimenting with some of the existing Jenkins utilities, only `${VERSION}` works ... `$VERSION` works if that is the only thing in the string, but not in the mixed case.

So I'll just support `${VERSION}` for mixed items.

[2016-07-12 16:49] livelace commented on #49
@gabemontero

Cool! It will allow us to shrink a lot of Jenkins jobs to task with parameters :)

[2016-07-12 21:32] #45 closed, assigned to gabemontero

[2016-07-12 22:15] gabemontero commented on #49
OK, I've delivered the change with https://github.com/openshift/jenkins-plugin/commit/474c088557c7a2059e5c5ff065971603d01ea91d

Aside from the code change, I updated the README's `Providing parameter values` section, clarifying the new behavior.

I've created a pre-release version of the plugin at https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/25/s3/download/openshift-pipeli

[2016-07-12 22:15] #49 closed, assigned to gabemontero

[2016-07-13 12:21] livelace commented on #49
Hmm. It seems working. Multiple variables working fine in name of: deployments, builds, image tags. Old tasks are working too. Thanks!

[2016-07-13 12:25] gabemontero commented on #49
Great - thanks for trying it out!

On Wednesday, July 13, 2016, Oleg Popov notifications@github.com wrote:

[2016-07-14 12:21] livelace opened #50 "Builds are end with timeout error"
See http://openshift-master1.i.drweb.ru:8080/job/images/job/base/76/

---

Started by upstream project "images/base-meta" build number 25
originally caused by:
 Started by user admin
Running as admin
[EnvInject] - Loading node environment variables.
Building remotely on openshift-node2 in workspace http://openshift-master1.i.drweb.ru:8080/job/images/job/base/ws/

Starting the "Trigger OpenShift Bu

[2016-07-14 12:22] livelace commented on #50
Version 1.0.21

STR: mutiple builds inside mutijob project.

Builds are marked as failed, but the builds are still working.

[2016-07-14 15:57] gabemontero commented on #50
Definitely a timing thing.  I am _NOT_ seeing in my repro attempts here.

However, based on code inspection, I could see that if say the build was slow in starting, we might get something like a 504, where as subsequent http gets would work, and currently the build log logic would not shield the outlying logic from those initial exceptions/hiccups.

I can probably cook up a pre-release change soon

[2016-07-14 15:59] gabemontero commented on #50
OK, @livelace, I delivered a fix with https://github.com/openshift/jenkins-plugin/commit/a1131ed0768386d5946737c6a08858002c5b67a0

Try this pre-release version:  https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/26/s3/download/openshift-pipeline.hpi

[2016-07-14 16:27] livelace commented on #50
I launched three queues of builds and they are working now without problems. There are about 60 builds in these queues. I will write about problems as soon as they will arise :) Thanks!

[2016-07-15 04:31] livelace commented on #50
All tasks completed without errors. It's worked!

[2016-07-15 07:36] livelace commented on #50
@gabemontero  May I ask you about execution specific scripts inside deployment configuration ?

[2016-07-15 13:28] gabemontero commented on #50
@livelace - good news that the build log tweak worked for you.

I'm not familiar with execution scripts within a deployment config.  I would recommend post the question on our [mailing list](https://lists.openshift.redhat.com/openshiftmm/listinfo/dev) or filing an issue on the origin repo.

[2016-07-15 13:28] #50 closed, assigned to gabemontero

[2016-07-19 05:55] livelace opened #51 "Does not detect build failure ?"
[code]

Jenkins task stays running. 1.0.21-SNAPSHOT (private-a1131ed0-ec2-user)

UP. Task ended with error according to global build timeout:

[code]

[2016-07-20 09:25] xiuwang opened #52 "Question about README"
@gabemontero I have a question in the comment about this commit https://github.com/openshift/jenkins-plugin/commit/895c47ba363b3524df70adba40f3b001daf46108

[2016-07-21 01:28] gabemontero commented on #51
hey @livelace - I believe I see what the issue with respect to jenkins job not ending relatively soon after the registry error.

I am out of the office on vacation for a few days while I move to a new house.  I can definitely get a fix ready next week, but if you are hitting this a lot and this is really impacting you, let me know and I'll see about squeezing in some time this week to build you a

[2016-07-21 01:44] gabemontero commented on #52
hey @xiuwang - responded in the commit as well, but I'll repeat here:

hey @xiuwang - perhaps I should change it to :
"if a namespace is specified in the json/yaml provided for any of the resources, that namespace will take precedence over the namespace specified in the "The name of the project to create ..."

Does that make it more understandable?

[2016-07-21 03:11] livelace commented on #51
@gabemontero  Absolutely not, it was one failed case among a lot of success.

[2016-07-21 07:13] wewang58 commented on #52
@gabemontero  In my remember, if we
 create resource(json is not include namespace , for example: https://raw.githubusercontent.com/openshift/origin/master/examples/hello-openshift/hello-pod.json) in test1 , the resource should be in test1, if we add namespace in json/yaml , I don't think it's convenient.
my understand of "if a namespace is specified in the json/yaml provided for any of the resour

[2016-07-21 07:15] wewang58 commented on #52
but now using hello-pod.json to create resources in test1, but actually created resouces in test which has jenkins

[2016-07-25 19:49] gabemontero commented on #51
@livelace I've got a pre-release version with the fix located [here](https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/27/s3/download/openshift-pipeline.hpi)

Based on commit https://github.com/openshift/jenkins-plugin/commit/a571787293a757c4cf2a127bfccddff1d4b9c49f

Going to close this out, but if you manage to try out the pre-release version and something seems incorrect, let

[2016-07-25 19:49] #51 closed, assigned to gabemontero

[2016-07-25 20:05] gabemontero commented on #52
Hey @wewang58 - I realize that I should have provided some more information to you.

1) the README at http://github.com/openshift/jenkins-plugin reflects the functionality of the very latest code, which can be later than the version of the plugin installed in the openshift jenkins images for rhel (and occasionally for centos though usually that is up to date).

As such, the piece around the namesp

[2016-07-26 18:48] gabemontero opened #54 "default the namespace for the openshift plugin operations when we're executing in a pipeline that has a namespace associated"
Some background from @bparees

[code]

and from @jimmidyson

[code]

There is also an internal write up from @siamaksade on his attempts to set up pipeline project with an external jenkins.

[2016-07-27 09:17] livelace opened #55 "Can't delete objects by labels"
I tried to delete this deployment configuration:

 apiVersion: "v1"
  kind: "DeploymentConfig"
  metadata:
    name: "test"
  spec:
    template:
      metadata:
        labels:
          name: "test"

With Jenkins step:

The type(s) of OpenShift resource(s) to delete: DeploymentConfig
The key(s) of labels on the OpenShift resource(s) to delete:  name
The value(s) of labels on the OpenShift resour

[2016-07-27 15:01] gabemontero commented on #55
just to confirm @livelace , the label referenced is in the metadata of the template within deployment config, not in the metadata of the deployment config, correct?

I see the deletes work for labels within the deployment config's metadata, but nothing is deleted when labels from the underlying template are specified.

By the way, `oc delete -l name=test` works the same way.  If the label is speci

[2016-07-27 15:08] bparees commented on #55
@gabemontero @livelace i'm not sure i understand the scenario yet, but I think @gabemontero is asking the same question i'm about to ask:

Templates can have their own labels (like any resource), and templates also allow you to define a set of labels that will be applied to all objects the template creates when the template is instantiated.  (So your DC should have the labels from that second set,

[2016-07-27 15:15] gabemontero commented on #55
yes @bparees, I was asking the same question.  Trying to confirm where the
label was defined.  Based on how I read his description, I _think_ he
specified it at the template level.  And that would correlate with the
results of my various attempts at reproducing.

On Wed, Jul 27, 2016 at 11:08 AM, Ben Parees notifications@github.com
wrote:

[2016-07-27 18:49] bparees opened #56 "Set jenkins+build uri as the reason on build request"
now that we can set a cause on a buildrequest, we should set jenkins as the cause with the job uri (same value we are annotating on the build object itself).

https://github.com/openshift/origin/blob/master/pkg/build/api/v1/types.go#L789

@spadgett

Message should be something like "Jenkins job URI https://blahblah/blah"

the ui will then be able to filter on this value.

[2016-07-27 20:38] gabemontero commented on #54
I've found BuildCause.java in the openshift-sync code and am working on a patch to pull that from the Run object and update the namespace if it is present.  I'd rather call BuildCause.getNamespace() vs. parsing the short description that is available with the base hudson Cause class, so I'm first trying to make openshift-sync a dependency for openshift-pipeline (which will test my still young mave

[2016-07-27 20:43] gabemontero commented on #54
got the maven dependency working :-)

[2016-07-27 20:44] bparees commented on #54
sets it in the build step or sets it in the global plugin settings (if that's even a thing they can do)?

[2016-07-27 20:56] gabemontero commented on #54
On Wed, Jul 27, 2016 at 4:44 PM, Ben Parees notifications@github.com
wrote:

[2016-07-27 21:02] bparees commented on #54
ok but there's no way to define a global default value (not env variable) that the steps will use?

[2016-07-27 21:22] gabemontero commented on #54
Not currently, since to date pulling the default from what is mounted in the pod has been acceptable.  But if isolating the project jenkins runs in from the "app" project has grown enough, we can special case the namespace and give it that means in addition to the env var stuff.

[2016-07-27 21:24] bparees commented on #54
fine for now, just wanted to make sure the full precedence hierarchy was represented.  your proposal sounds good to me.

[2016-07-27 21:26] gabemontero commented on #54
ok cool @bparees

@siamaksade - I have pushed a [pre-release change](https://github.com/openshift/jenkins-plugin/commit/e212a50b64728c6343b0e251bcbb70e3656b4e3e) for the openshift pipeline plugin that should have it pull the namespace/project from the cause that the sync plugin sets before pulling it from what is mounted in the pod.

Download this [binary](https://ci.openshift.redhat.com/jenkins/j

[2016-07-27 21:26] #54 closed, assigned to gabemontero

[2016-07-27 21:34] gabemontero commented on #56
This will necessitate a change to openshift-restclient-java (which I can do and then submit a PR for @jcantrill 's review) and invariable upgrade in that dependency.

@bparees @spadgett - I'm assuming we want this prior to 3.3 going out.  Correct?

[2016-07-27 21:38] bparees commented on #56
@gabemontero ideally.  @spadgett says he can live w/o it.

[2016-07-28 05:43] livelace commented on #55
Yes, guys, you are completely right. Labels in the metadata are working now. I think that it should be added to documentation in more clear manner (for those who (like me) doesn't know product well), because all examples which I saw don't contain labels in the metadata.

https://docs.openshift.org/latest/dev_guide/deployments.html
http://kubernetes.io/docs/user-guide/deploying-applications/

Thank

[2016-07-28 08:14] siamaksade commented on #54
I'll give it a try and come back to you today

[2016-07-28 09:17] livelace commented on #55
Case1 - I can delete all deployments configuration/services/replication controllers with name "nossl":

![case1](http://image.prntscr.com/image/00694a82afd642a7be6f0dd8f27a3138.jpeg)

Case2 - I tried to delete Pods also by this configuration:

![case2](http://image.prntscr.com/image/32fc4ebb4b104324b8af61fbcda635ae.jpeg)

Case2 problems:
1. All deployments configuration/services/replication contro

[2016-07-29 07:51] siamaksade commented on #54
For the record, it worked as expected

[2016-07-29 20:56] gabemontero commented on #52
@wewang58 - hey, any chance you'll be able to get back to this next week (Aug 1 - Aug 5), using the latest version of the plugin (where if you are using the rhel image, you might have to download and install the latest plugin) ?

If not I'm going to close this, as the multiple namespace stuff is working for me.

I've merge the README update.

[2016-07-29 21:26] gabemontero commented on #55
Hmm @livelace , I was able delete multiple dcs, svcs, rcs, and pods with labels:

[code]

Could you re-run your test with verbose logging, as well as running `oc get dc -o json`, `oc get svc -o json`, `oc get rc -o json`, and oc get pods -o json` after the job runs?  If that is too much, could you at least re-run with verbose logging?

[2016-07-30 08:20] livelace commented on #55
@gabemontero  Hello, of course, but only on Monday.

[2016-07-30 16:30] gabemontero commented on #55
Sounds great @livelace

On Saturday, July 30, 2016, Oleg Popov notifications@github.com wrote:

[2016-08-01 08:36] wewang58 commented on #52
@gabemontero now tested plugin 1.0.21 ,when created resource in test1, pod is in test1 now ,thanks

[2016-08-01 10:49] livelace commented on #55
[log.zip](https://github.com/openshift/jenkins-plugin/files/393515/log.zip)

for i in dc svc rc pod; do oc get $i  | grep -v "deploy|NAME" | awk '{print $1}' | xargs oc describe $i > $i.describe;done

for i in dc svc rc pod; do oc get $i  | grep -v "deploy|NAME" | awk '{print $1}' | xargs oc get $i -o yaml > $i.yaml;done

[2016-08-01 10:55] livelace commented on #55
But I found "WA":
1. I added additional label "conf" for all objects
2. Jenkins post-build step:

![image](http://image.prntscr.com/image/f8f7707d31ee46baa3c1d576492aa614.jpeg)

[2016-08-01 11:16] livelace opened #57 "FR: Delete objects with confirmation"
Case:
1. We create objects and they are working.
2. We send command to delete all objects. Not all objects (Pods) can be deleted immediately and some still are working and they are writing data(until their death). But we already reported about deletion and a next Jenkins task begins started, which want that data will not be changed. It's the problem.

[2016-08-01 12:58] bparees commented on #57
it sounds like your scenario is effectively the same as running:

`oc delete pod foo`

and then while the command returns immediately, the pod keeps running for some period of time until it is killed.  Is that accurate?

If so, i think the only way we can do better here is to offer a way for you to "wait for termination" when deleting objects (we'd have to watch/poll to see when the object actuall

[2016-08-01 13:13] gabemontero commented on #52
Cool - thanks for confirming @wewang58

[2016-08-01 13:13] #52 closed, assigned to nobody

[2016-08-01 14:33] gabemontero commented on #57
(will create trello card or incorporate into existing card if applicable once we lock down the detail or two @bparees asked @livelace about)

[2016-08-01 14:43] livelace commented on #57
Yes, absolutely. The period depend on the node utilization, application inside pod ... etc In my case the problem is in parse xml file, which locked inside pod and the next Jenkins step can't handle it correctly.

It sounds good.

[2016-08-01 20:20] gabemontero commented on #57
I've opened [this trello card](https://trello.com/c/t9CWATta/1010-jenkins-plugin-delete-objs-with-confirmation) to track this request ... closing github issue out per process.

[2016-08-01 20:20] #57 closed, assigned to gabemontero

[2016-08-01 20:24] bparees commented on #57
@livelace did you try setting the grace period to 0s?  i'm curious if that would fix your problem:
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L160-L164

[2016-08-01 20:32] gabemontero commented on #55
hey @livelace - I don't see the plugin's verbose output in the log.zip you provided, on the describe/yaml output for the dc/rc/pod/svc objects.

[code]

I'll see what I uncover for those, but could you provide the verbose output from the step that coincided with the describe/yaml output.

Also, I wonder how much of the delay in Pod deletion that was discussed with issue 57 is coming into play here

[2016-08-01 20:52] gabemontero commented on #55
The yaml did not reveal any problems.  Taking the "conf" label that @livelace cited, I did a `grep "conf:" *.yaml"` and did not get any hits.  Similarly, a `grep "name:" *.yaml` turned up a bunch of hits as expected, including some of the labels I saw from visual inspection.

Assuming the yaml's were captured after the build step ran, that would tell me there were not any resources with a label ke

[2016-08-02 05:42] livelace commented on #57
@bparees I didn't find the "deletionGracePeriodSeconds" parameter in my "ClusterPolicy". But I compared situation with deletion of objects.
1. for type in route rc dc svc pod;do for i in $(oc get $type | awk '{print $1}');do oc delete $type $i;done;done - one Pod which did some operations (postStart hook) was alive for 1-2 minutes in the "Terminating" state.
2. for type in route rc dc svc pod;do f

[2016-08-02 06:17] livelace commented on #55
Ok, let's start at the beginning :)
1. When I delete:

I expected that all types of objects should was done iteration with pair "key=value":

dc/rc/svc/pod should be deleted with "name": nossl, testing-11.0-drweb-dss-nossl-peer1, testing-11.0-drweb-dss-nossl-peer2, testing-11.0-drweb-dss-nossl-peer3

But as result I got only:

Why I used "testing-11.0-drweb-dss-nossl-peer1" as value for the pod re

[2016-08-02 06:26] livelace commented on #55
task log
[verbose.txt.zip](https://github.com/openshift/jenkins-plugin/files/395350/verbose.txt.zip)

[2016-08-02 11:03] livelace opened #58 "FR: The dedicated timeout for deployment verification"
@gabemontero

At first, big thanks :+1:   "Verify Deployment Configuration" detects the "postStart" failure situation (regardless of the replica counter)! I checked twice!

For now, we need the simple timeout parameter for the verification of deployment. It allows us to control each deployment (deployment in whole + postStart hook) configuration inside complex configuration.

[2016-08-02 12:22] livelace commented on #58
Forgot to ask. Can we detect that deployment failed and don't wait the extra time ?

Like in that case https://github.com/openshift/jenkins-plugin/issues/37

[2016-08-02 13:51] bparees commented on #57
it's not a cluster policy setting, it's a setting on each resource (in this case the pod resource).

But yes if your pods need that grace period to properly clean up then setting it to zero won't be a valid workaround for your scenario, unfortunately.

[2016-08-02 16:53] gabemontero commented on #55
OK ... I've figured it out with the clarification / additional data.  Will update when I have a pre-release fix ready.

[2016-08-02 17:33] gabemontero commented on #55
OK, I believe this is fixed with commit https://github.com/openshift/jenkins-plugin/commit/e4b9abd182fbae8a369041c82478617b4c186956 and this [pre-release version](https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/29/s3/download/openshift-pipeline.hpi)

@livelace give it a try when you get the chance, and re-open if something seems amiss.

[2016-08-02 17:33] #55 closed, assigned to gabemontero

[2016-08-03 15:08] gabemontero commented on #56
@bparees @spadgett I have a prototype of this that is working.  Given the amount of additional changes needed to upgrade the openshift-restclient as well as make the modifications to the restclient to set the cause (where I still have to submit a pull for that), I'm not ready to produce a publicly consumable plugin to try, but I can provide a locally built version if you want to try sooner rather

[2016-08-09 13:22] gabemontero commented on #56
Quick update - still waiting for the openshift-restclient-java PR to merge.  Not much contention in the PR - just some lag time.

[2016-08-09 14:54] jcantrill commented on #56
@gabemontero PR merged and 5.0.0-SNAPSHOT deployed

[2016-08-09 15:04] gabemontero commented on #56
thanks @jcantrill !!

[2016-08-09 17:42] gabemontero commented on #56
OK @spadgett [here](https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/30/s3/download/openshift-pipeline.hpi) is a pre-release version of the plugin that registers a build cause for build triggered from the plugin.

When you get the chance please give it a try, and if we need to make tweaks, let's iterate over them.

I'll leave the issue open for bit in case you get a chance to

[2016-08-11 14:18] #56 closed, assigned to gabemontero

[2016-08-12 18:35] gabemontero commented on #58
hey @livelace - commit https://github.com/openshift/jenkins-plugin/commit/8a31bd9b89af4f91d27155748278fce9f8505c44 and pre-release version https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/31/s3/download/openshift-pipeline.hpi
are ready for you to try.

thanks

[2016-08-12 18:35] #58 closed, assigned to gabemontero

[2016-08-15 05:12] livelace opened #61 "The build error at the beginning"
1.0.22-SNAPSHOT (private-8a31bd9b-ec2-user)

[2016-08-15 15:58] gabemontero commented on #61
@livelace - unfortunately, my Create Resource unit test case passes; I am unable to reproduce.

[code]

Could you reproduce with verbose tracing ?  Are you overriding the token or cert ?

[2016-08-15 16:03] livelace commented on #61
No, token and cert are the same as they were.

[2016-08-15 16:09] livelace commented on #61
Complete log https://paste.fedoraproject.org/408841/12773411/

[2016-08-15 16:19] gabemontero commented on #61
Is Jenkins running inside an OpenShift Pod or external to OpenShift?  I'm not seeing any of the k8s supplied env vars in the env dump.

[2016-08-15 16:51] livelace commented on #61
@gabemontero No, there is external Jenkins instance. The configuration didn't touched, I just installed openshift pipeline + openshift sync as dependence.

[2016-08-15 16:57] livelace commented on #61
I have replaced first step token with my admin token - no luck, the same problem.

[2016-08-15 17:04] gabemontero commented on #61
Yeah the stack trace you posted is related to the cert, not the token.  Since this is an external jenkins, you'll have to supply cert as well as the token.

Try implementing the instructions at https://github.com/openshift/jenkins-plugin#certificates-and-encryption and let's see if I have properly explained what you need to do.

That said, as part of the change to the new openshift-restclient-java

[2016-08-15 17:14] livelace commented on #61
Hm, I have read it. I set "SKIP_TLS=True" (string parameter) for this project. But no changes happen. I checked certificates and they are valid (date, dns etc.)

[2016-08-15 17:17] gabemontero commented on #61
OK, then my latest changes aren't honoring SKIP_TLS as well.  I'll start working on a fix.  Most likely I can have something for you to try in the next hour or so, assuming no interruptions.  Thanks.

[2016-08-15 18:11] gabemontero commented on #61
ok commit https://github.com/openshift/jenkins-plugin/commit/115cb5752c80322e01896a03c2fc7fc1d6f9db78

and pre-release version https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/32/s3/download/openshift-pipeline.hpi

should allow skip tls, including from external jenkins ... i'll wait a bit to see if you have a chance to try it before closing this out.

[2016-08-15 18:21] livelace commented on #61
@gabemontero  Ok, I see, it's working now. Thanks

FYI https://paste.fedoraproject.org/408905/28525914/

[2016-08-15 18:22] gabemontero commented on #61
cool deal - thanks for the quick confirm @livelace as well as the logs (helps confirm the behavior) !

[2016-08-15 18:22] #61 closed, assigned to gabemontero

[2016-08-18 04:50] livelace opened #62 "FR: Tag images in multiple projects simultaneously"
Hello. The quantity of projects are growing and dedicated tag step for each project - it's not convenient. 6 projects and 20 different builds = 120 tag steps (all imagestream in all projects, except central image project).

[2016-08-18 14:18] gabemontero commented on #62
@livelace are you thinking
1) 1 src tag and many dst tags
2) N src tag and P dest tags, where N == P
3) both 1) and 2)
?

[2016-08-18 14:18] gabemontero commented on #62
@bparees FYI

[2016-08-19 04:39] livelace commented on #62
@gabemontero
1. It will be great.
2. It's the very rare case, because we use metajobs, which launch one specific build for different software == 1 build and 1 imagestream as result.
3. It will be nice if we will have both possibilities: src 1+n, dst 1+n

[2016-09-09 08:17] livelace commented on #62
Hello. Any news ? :)

[2016-09-09 13:14] bparees commented on #62
@gabemontero is this reflected on one of the "jenkins enhancement" trello cards?  if not, let's get it there (or create a new one) and close this.

[2016-09-09 13:46] gabemontero commented on #62
hey @livelace and @bparees - yeah originally I thought I might be able to squeeze this one in between official assignments but that proved to not be the case, and will remain as such given what's currently on my plate.

I'll review the existing trello cards first, see if it makes sense to add this to those cards.  Otherwise, I'll create a new one.

I'll update this issue in a bit with the trello c

[2016-09-09 13:57] gabemontero commented on #62
OK, @bparees and I agree we can add this to https://trello.com/c/Yl4qomsw/878-5-additional-jenkins-plugin-enhancement-requests-from-github, which is already on our Next list, and so is pretty close to getting scheduled.

[2016-09-09 13:57] #62 closed, assigned to gabemontero

[2016-09-12 20:57] jamestenglish opened #63 "Pipeline DSL documentation"
The documentation for the new Jenkins 2.x documentation is all over the place.

There is this blog post, which is now wrong and outdated: https://blog.openshift.com/pipelines-with-jenkins-2-on-openshift/

This lists _bldCfg_ as the parameter for openshiftBuild but your README references _buildConfig_
https://jenkins.io/doc/pipeline/steps/openshift-pipeline/

Which one is correct?

In the RedHat Op

[2016-09-13 05:19] anhnguyenbk opened #64 "Trigger OpenShift Build Options"
Can I use options `--from-file` in Trigger Openshift Build.  I using external Jenkins for build and Openshift Origin just for binary deployment. I want to start Openshift build from Jenkins Plugin with options `--from-file`.

How could I do?

Thanks.

[2016-09-13 05:45] gabemontero commented on #63
Some responses embedded below.  @bparees and @jupierce fyi

On Monday, September 12, 2016, James English notifications@github.com
wrote:

When i can get my laptop on a network Tuesday (i was traveling today I will
post the current example unless @bparees beats me to it.

[2016-09-13 05:46] gabemontero commented on #64
There as been another recent request for this.  It is not there currently.
I believe we are going to create a trello card and get this in the
scheduling pipeline.  @bparees fyi

On Monday, September 12, 2016, Hoang Anh Nguyen notifications@github.com
wrote:

[2016-09-13 06:53] bparees commented on #64
Added to trello: https://trello.com/c/kJrtI2kF

[2016-09-13 06:53] #64 closed, assigned to nobody

[2016-09-13 06:53] bparees commented on #64
@anhnguyenbk for now you'd have to use the oc command line tool and a shell build step to accomplish your goal.  The good news is that the oc client tool is already part of the openshift jenkins image.

[2016-09-13 06:58] bparees commented on #63
@jamestenglish are you just looking for more details on the openshift plugin pipeline DSL syntax?
https://github.com/openshift/jenkins-plugin#jenkins-pipeline-formerly-workflow-plugin

we don't have a rich set of examples of using it, our primary pipeline example is here:
https://github.com/openshift/origin/tree/master/examples/jenkins/pipeline
https://github.com/openshift/origin/blob/master/examp

[2016-09-27 15:51] jim-minter opened #66 "Crazy duplication in Jenkins console output"
Lots of duplication of lines in pages like https://jenkins-demo.router.default.svc.cluster.local/job/sample-pipeline/1/consoleFull , e.g.:

[code]

[2016-09-27 17:17] #66 closed, assigned to jim-minter

[2016-09-28 19:05] gabemontero commented on #7
@csrwng has delievered the change for this with https://github.com/openshift/jenkins-plugin/commit/6ee58601c3e4505ae331c4f6acf533178dd456bb

[2016-09-28 19:06] rawlingsj commented on #7
Great - thanks @gabemontero @csrwng

[2016-10-05 13:13] jupierce opened #72 "Create OpenShift Resource throws exception even when SKIP_TLS=1"
The operation succeeds, but an exception is thrown during fetchApiJsonFromApiServer

Logs:

[code]

[2016-10-05 14:31] gabemontero commented on #72
minor note - I don't believe the exception would have appeared if verbose was not set to true.

[2016-10-05 14:34] gabemontero commented on #72
or would not have been printed I should say, to be more clear

[2016-10-05 14:37] bparees commented on #72
Sounds like we should turn it into a cleaner log message (that only shows
up with verbose logging)

Ben Parees | OpenShift

On Oct 5, 2016 10:31 AM, "Gabe Montero" notifications@github.com wrote:

[2016-10-05 14:40] gabemontero commented on #72
Perhaps I still mangled it - it _only_ shows up in the current form _if_ verbose logging is on.

As to what shows up, since it is just debug, I'm simply printing the exception stack trace, and was not worried about appearance.

[2016-10-05 14:52] jupierce commented on #72
@gabemontero So is this exception expected? Why?

[2016-10-05 14:56] gabemontero commented on #72
No, the exception is not expected.  I'm testing a fix now.  The "minor
note" portion of the original
comment was my attempt to classify this as a side bar (probably should have
just used "side bar").

Most likely when I tested this I didn't have verbose on and missed this
exception.

On Wed, Oct 5, 2016 at 10:52 AM, Justin Pierce notifications@github.com
wrote:

[2016-10-05 17:48] #72 closed, assigned to gabemontero

[2016-10-05 18:49] jupierce opened #74 "Following build logs creates 1 socket/second & duplicate log data"
If you create a start-build step & specify that build logs should be streamed, you will see in the Jenkins console that each build log message is appended to the console log multiple times.

In IOpenShiftBuilder.java, you can see why:

[code]

Each second, a new pod.accept is being invoked (which creates a net new socket/listener for the life of the build process).

The simple fix is to move the `

[2016-10-05 18:53] gabemontero commented on #74
Hmmm ... i thought @jim-minter fixed duplicate log data with https://github.com/openshift/jenkins-plugin/commit/7da55034807b98c66f897cbca7fddf7865fa8ef2 - do you have this commit in your env ?

[2016-10-05 19:18] jupierce commented on #74
Ah, no I don't. That will work in the vast majority of runs, but it is still non-deterministic because it relies on a momentary build state.

[2016-10-05 19:40] gabemontero commented on #74
OK, given @jim-minter 's change covers the vast majority, I've marked a p3.

As an fyi, up until a couple of months ago, the restclient's pod logging depended on the `oc` binary being present, so we had our own polling mechanism that did simply http requests against the build log endpoint, and we could manage the edge cases more directly.

So let's see how the discussion you started goes.  If it d

[2016-10-05 20:48] gabemontero commented on #27
This request has been implemented with https://github.com/openshift/jenkins-plugin/commit/4060fdac332229ff5eadc230586fa29813e57f34

[2016-10-06 15:40] gabemontero commented on #62
@livelace - an update.  With commit https://github.com/openshift/jenkins-plugin/commit/1da103810da471618db2122583d88abf2efd40db from @jupierce the plugin is now enabling the following forms:
1. 1 destination stream and 1 destination tag (i.e. single tag applies to single stream)
2. 1 destination stream and N destination tags (i.e. all tags apply to the same stream)
3. 1 destination tag and N desti

[2016-10-06 16:19] livelace commented on #62
Cool things. Thanks guys! :)

[2016-10-06 17:11] #74 closed, assigned to jupierce

[2016-10-06 18:15] jupierce opened #76 "Replace use of System.currentTimeMillis()"
currentTimeMillis() is impacted by system clock changes (e.g. daylight savings changes). This can cause wait time calculations relying on the API to behave incorrectly.
These loops can be changed to use System.nanoTime()    (with changes to accommodate nanoseconds instead of milliseconds values).

[2016-10-06 19:18] gabemontero commented on #76
Interesting.  Ok, we'll add to the list.  I'll defer on assignment until the dust settles on all the concurrent work that is going on.

[2016-10-09 09:08] gyj0825 opened #81 "Why any operation has the same error in jenkins？connected to openshift is error?"
I'm running jenkins outside the openshift.Any operation has the same error.
Set SKIP_TLS=true will see same error also,why?。

I add policy to serviceaccount/default also。
$ oc policy add-role-to-user edit system:serviceaccount:jenkins:default

When connected to openshift,do you still need the port other than 8443？

version info:
jenkins version: 2.7.2  openshift version: 3.2.1.1

**jenkins project

[2016-10-09 14:35] #81 closed, assigned to nobody

[2016-10-09 14:44] gyj0825 commented on #81
I found the solution.
Solved the problem when Modify the JDK version 1.8.0-101 to 1.8.0-65 on jenkins host.
$ java -version
openjdk version "1.8.0_65"
OpenJDK Runtime Environment (build 1.8.0_65-b17)
OpenJDK 64-Bit Server VM (build 25.65-b01, mixed mode)

[2016-10-11 08:02] mjudeikis opened #82 "timout with null"
some jobs is marked as failed when they are succ due null/timeout:
Plugin version: 1.0.13 as 1.0.22 is not accepted by jenkins due cross dep - checking
Jenkins:
![image](https://cloud.githubusercontent.com/assets/3225744/19262859/21db4906-8f91-11e6-9892-1ee8193bd9b7.png)
Openshift:
![image](https://cloud.githubusercontent.com/assets/3225744/19262877/3abbcf7c-8f91-11e6-9806-e2685f7d8a8f.png)

![ima

[2016-10-11 08:48] mjudeikis commented on #82
trying to upgrade to newer jenkins version

[2016-10-11 10:40] mjudeikis commented on #82
update to bleeding edge sorted this one. sorry. we can close.

[2016-10-11 11:56] #82 closed, assigned to nobody

[2016-10-11 21:16] sherl0cks opened #84 "Support Binary Builds"
I believe this is a feature request. If not, please do point me to the right documentation. I'd like to be able to perform the equivalent of `oc start-build <build-name> --from-dir=<local-directory>` using the `openshiftBuild` or a similar step.

[2016-10-11 22:02] bparees commented on #84
thanks, we're already carrying this feature request on our trello board: https://trello.com/c/kJrtI2kF/1034-jenkins-plugin-binary-build-support

[2016-10-11 22:02] #84 closed, assigned to nobody

[2016-10-14 15:47] jupierce opened #90 ""Test Connection" button not working in my environment"
Just fetched upstream and built including #83

My environment:
- Running Jenkins outside of OpenShift
- Cluster is running with Cluster up
- SKIP_TLS=1 is configured a Jenkins global environment variable

Even though the build job works (ensuring I have a valid apiUIRL), test connection always reports "Connection unsuccessful" .

fyi @oatmealraisin

[2016-10-17 11:17] livelace commented on #62
@gabemontero @jupierce

Hello. I did update to the version 1.0.23 and don't see anything in the build step for tagging in multiple projects. This FR realized only in pipeline working mode ?

[2016-10-17 13:04] jupierce commented on #62
@livelace Clicking the help icon next to the destination stream & tag in Jenkins should now describe support for a comma delimited list in each field.
A description of how the lists are handled is given in the pipeline section of the README.MD (https://github.com/openshift/jenkins-plugin ; search for "Tag OpenShift Image") -- the pipeline DSL supports an identical comma delimited list for the fiel

[2016-10-17 15:14] jupierce commented on #62
@gabemontero just talked to me offline and pointed out that you specifically mentioned "projects" . You are correct that there is currently no support for multiple src/dest projects in the build step (or pipeline DSL for that matter). Only one source project and one dest project is supported in each step.

Based on the issue conversation, it seemed that enabling 1->N, N->1, N->N  (destStream->dest

[2016-10-17 17:01] livelace commented on #62
Oh no. I meant projects and multiple tags between them. I thought we discussed all relations in context of projects. Because we have a lot of projects and one contain images, which must be available for others.

[2016-10-17 21:38] jupierce commented on #62
@livelace You might be able to accommodate your project topology using the new feature and a pipeline DSL step/looping constructs, but if not, can you open another issue to enable multiple destination projects in the same tagging step?
The necessary change will require us to go back to the drawing board for a bit in order to ensure backwards compatibility with prior versions of the plugin.

[2016-10-18 04:41] livelace commented on #62
@jupierce  We can't move to using the pipeline right now. Maybe in near future. Ok, we will be use multiple steps.  Thanks.

[2016-10-18 13:38] schoeffm opened #93 "Is it possible to capture the outcome of oc exec"
Hi all,

is it possible somehow to get the outcome of an oc exec in order to further decide how to proceed within the jenkins-pipeline.
Currently a call to openshiftExec does not seem to return anything - at the console I see what's happening, but is it possible to get the return status of the command which was executed?

Cheers

[2016-10-18 19:19] jupierce commented on #93
@schoeffm That is not possible in the current implementation, but please follow #94 for information regarding the feature.

[2016-10-19 00:20] #93 closed, assigned to jupierce

[2016-10-19 08:35] livelace opened #96 "FR: Permissive mode for the resources creation build step"
Hello. We use the "Create Openshift Resource(s)" build step for dynamic (specific names and parameters) configurations. The executed configurations are usually deleted, but we need that some resources could have existed after deletion and they couldn't have been cause an error. For instance:
1. Create: a build configuration with name "bc-ubuntu-run", an image stream with name "is-ubuntu-run"
2. Bu

[2016-10-19 11:57] gabemontero commented on #96
Probably is just a matter of catching the exception when we have a list of
resources.  I'll confirm when I get into the office and if so make the
quick change.

On Wednesday, October 19, 2016, Oleg Popov notifications@github.com wrote:

[2016-10-19 14:53] gabemontero commented on #96
theory confirmed

[2016-10-19 14:57] gabemontero commented on #96
fixed delivered with https://github.com/openshift/jenkins-plugin/commit/d1286d73a51f88c4c868fa9abe804a6f5561a588

I'll start the process of cutting a new official version (v1.0.24) of the plugin by the end of this week

[2016-10-19 14:57] #96 closed, assigned to gabemontero

[2016-10-19 17:03] livelace commented on #96
@gabemontero So fast! Thanks a lot:)

[2016-10-20 17:48] gabemontero commented on #90
Jumped in to help on this one.  The global env variables are not getting put into the master env var list when the test connection descriptor impl is called.

I'm very reluctant to "assume" skip tls.

So we are going to try and reverse engineer where the global env vars are stored and see if we can access them through some new means.

And at this juncture, I'm also reluctant to make skip TLS and/o

[2016-10-20 18:34] gabemontero commented on #90
OK, between @oatmealraisin and I we pieced together how to get the glob env var from the descriptor impl.

Should have a fix sorted out momentarily.

[2016-10-20 20:12] gabemontero commented on #90
Have also added a change to get the default value from any job build params as well.  This way, users can provide the CERT via CA_CERT as an alternative to SKIP_TLS

[2016-10-20 20:25] gabemontero commented on #90
fixed with https://github.com/openshift/jenkins-plugin/commit/01727d5775b4e1a1f40f09f745338f5497546924

[2016-10-20 20:25] #90 closed, assigned to gabemontero, oatmealraisin

[2016-10-21 06:24] livelace commented on #96
Fix doesn't work:

Starting "Create OpenShift Resource(s)" with the project "images".

OpenShiftCreator calling create on for type imagestreams and resource {
    "apiVersion" : "v1",
    "kind" : "ImageStream",
    "metadata" : {"name" : "testing-drweb-workstations-ubuntu-14.04"}
}
Auth - allowCertificate with incoming chain of len  2
Auth - in skip tls mode, returning true
com.openshift.restclie

[2016-10-21 11:48] gabemontero commented on #96
Perhaps we had a miscommunication.  If the object already exists, like the image stream in your example, it is still going to fail to create.

Hence the message in the output you posted:

[code]

I didn't change the code to delete the imagestream and recreate.  Is that what you were expecting?  That was not intended with my change (nor am I even sure we'd want to introduce such a change).

However

[2016-10-21 12:37] livelace commented on #96
@gabemontero

No-no-no, we just want that this error was not an exception. Can you add "ignore an existing image stream" checkbox for this build step ?

[2016-10-25 18:56] gabemontero commented on #96
Ah ok.

First we don't print the exception unless verbose logging is on.  That
could serve as your control.

Adding an ignore option like you have outlined is too specific and special
case.

We might be able to determine that the item already exists and print
"already exists" instead of "failed".  If that is agreeable let me know,
but such a change won't make this dev cycle / release.

On Friday,

[2016-10-26 04:43] livelace commented on #96
@gabemontero

It isn't important what a build step wrote ("already exist" or "failed"). It's important that this build step doesn't put the whole task in failed state. We need that the task could stay in working state despite of the existing ImageStream.

We have started to use two Jenkins task:
1. The first task just tries to create ImageStream and despite of results (success or failed) it calls

[2016-10-26 15:41] gabemontero commented on #96
Ok so a config option that says mark the step as succeeding if at least 1
create succeeds.  Certainly more manageable.  I'll see if we can squeeze
this in as part of wrapping up the upcoming release and if not I'll get a
trello card opened to have it considered for the next release.  Thanks for
the clarification.

FYI @bparees

On Wednesday, October 26, 2016, Oleg Popov notifications@github.com wr

[2016-10-26 18:19] livelace commented on #96
@gabemontero Thanks!

[2016-10-26 23:12] bparees opened #99 "document release process"
@gabemontero can you add a RELEASING.md doc that covers the steps required to build and publish a new version of the plugin to jenkinsci?

Does not have to cover anything about updating the jenkins image itself, just what it takes to go from merging a commit to releasing a new plugin version.

I realize not everyone will have permissions to actually do so, but at least we'll know the steps and can

[2016-10-28 17:21] bparees opened #101 "build step always verifies imagechangetrigger fired"
Even when verify deployment is not set to true, the build step is trying to confirm that the deploymentconfig's image field got updated, which it shouldn't.

@gabemontero can point to the code.

[2016-10-30 23:13] #101 closed, assigned to jupierce

[2016-10-31 17:51] jupierce opened #103 "Jenkins plugin using default serviceaccount instead of "jenkins""
Still trying to figure out what changed here, but several origin extended test failures have induced me to track this problem. When running within OpenShift, the Jenkins plugin is attempting to access APIServer resources using the "default" service account instead of the "jenkins" service account.

@gabemontero @oatmealraisin @csrwng

Errors:
1.
[code]

2. https://ci.openshift.redhat.com/jenkins/j

[2016-10-31 17:58] bparees commented on #103
that would imply the pod is running using the default service account, no?

[2016-10-31 18:45] jupierce commented on #103
@bparees That's my understanding.

Looking at kubernetes_plugin.go, the template it instantiates doesn't even setup a "jenkins" service account. The test setup then incorrectly gives additional permissions to the "jenkins" account instead of "default". It seems to follow then that the test has not been running prior to Oct 29th **or** something has changed about the default SA permissions.

As for

[2016-10-31 18:47] bparees commented on #103
check with @liggitt or @deads2k about what might have changed in the default service account permissions.

[2016-10-31 18:55] liggitt commented on #103
nothing has changed in the default service account permissions that I'm aware of

[2016-10-31 20:08] jupierce commented on #103
1. The Jenkins test results (https://github.com/openshift/origin/blob/master/test/extended/image_ecosystem/plugin.go#L421) do indicate the kubernetes_plugin.go test had been regularly skipped.
2. @gabemontero 's failure looks to be explained by the conditional branch https://github.com/openshift/origin/blob/master/test/extended/image_ecosystem/plugin.go#L419 . In my development environment and in

[2016-10-31 20:08] #103 closed, assigned to nobody

[2016-11-01 18:50] jupierce commented on #103
See for followup:
- openshift/origin#11676
- openshift/origin#11711

[2016-11-07 15:15] jamestenglish commented on #63
I was looking for a more rich set of examples, but I guess it is was it is.

[2016-11-07 15:15] #63 closed, assigned to nobody

[2016-11-07 15:18] jamestenglish opened #108 "Dynamically find pod name for openshiftExec"
Is there any way to query pod names for a deployment? I'd like to be able to dynamically query pods in order to feed that into the "openshiftExec" command. Do any of the other DSL commands allow that, or is there anyway inside Jenkins to accomplish that?

[2016-11-07 15:19] gabemontero commented on #63
Ah - in that case, we have some in progress work this sprint that is focused just on that.

The trello card for it is [here](https://trello.com/c/cZvXM8zz/1022-5-pipeline-samples-techdebt) if you wish to track to on going work.

@csrwng FYI

[2016-11-07 15:53] gabemontero commented on #108
At the moment, not from openshift-pipeline / jenkins-plugin.

The `oc` command is of course baked into the openshift jenkins image.  In the interim you could use `sh 'oc...'` to get the pod list and save it in a form that your pipeline script could then seed the `openshiftExec` step with.

But at first blush I think the scenario is at least worth exploring.  In theory we could provide a more user

[2016-11-07 15:53] #108 closed, assigned to nobody

[2016-11-10 02:29] dusura opened #110 "Add Support for Getting Information About Existing Objects"
Hi,

any plans to add the ability to get information about existing objects similar to the CLI "oc get/describe ..."? I would like to write pipelines that use existing object information as inputs. Looking at the source "openshiftExec" seems about the closest thing that exists at the moment.

Cheers

[2016-11-10 02:46] bparees commented on #110
No immediate plans but i think it's something we'd consider.

in the meantime you'd have to use a shell step to invoke the oc tooling directly (which is available in the image)

[2016-11-10 03:27] dusura commented on #110
Thanks for the reply. Hopefully it's something that can be done sometime. Meantime, I will use oc as you suggest.

[2016-11-10 17:00] dcw312 opened #111 "Snapshot dependency"
Please forgive me if I'm in the wrong repo. I'm getting maven errors because of the inclusion of the openshift-restclient-java:5.2.0-SNAPSHOT in openshift-pipeline:1.0.32. Is there a release version available at http://repo.jenkins-ci.org/releases/com/openshift/jenkins/openshift-pipeline without the snapshot dependency (or another workaround)?

[2016-11-10 17:24] gabemontero commented on #111
A 5.2.0-Final of openshift-restclient-java was just cut a couple of days ago (I had been periodically checking for this, but the timing of this issue is golden :-) ). We should be able to switch to that.
I'll do some regression testing to see if that is in fact the case.

@bparees fyi

[2016-11-10 17:41] gabemontero commented on #111
My attempts to leverage 5.2.0-FINAL from https://repository.jboss.org/nexus/content/repositories/releases/com/openshift/openshift-restclient-java/5.2.0.Final/ are not working.  It is possible that the publishing process is not fully complete yet.

[2016-11-10 17:44] gabemontero commented on #111
@dcw312 - 5.2.0-SNAPSHOT is available from the repository: http://repository.jboss.org/nexus/content/groups/public/com/openshift/openshift-restclient-java/

I couldn't tell if your were trying to build openshift-pipeline or list it as a dependency.  If the later, you could add that repository to your pom.xml and I would think be able to download 5.2.0-SNAPSHOT

[2016-11-11 18:53] gabemontero commented on #111
Sorted things out ... dep now at 5.2.0.Final with commit https://github.com/openshift/jenkins-plugin/commit/3a7aad8fa32281750444f141b5229e3a621e6e05

[2016-11-11 18:53] #111 closed, assigned to gabemontero

[2016-11-16 20:56] andyevans opened #114 ""Trigger OpenShift Deployment" should accept an image tag"
As documented:
_"Trigger OpenShift Deployment": performs the equivalent of an oc deploy --latest command invocation; it will monitor the resulting ReplicationController's "openshift.io/deployment.phase" annotation to confirm success_

Defaulting the `oc deploy` command to use `--latest` seems a bit limiting. What i'd like to be able to do is build an image, perform a successful deployment to a dev

[2016-11-16 21:08] bparees commented on #114
you would tag an older version of the image into the imagestream that the deployment is based on, and trigger a deployment to deploy it.

i don't know what else you'd expect triggering a deployment to do, oc deploy does not offer a "deploy this image" option.  deployments deploy the thing they are pointing at, if you want to deploy something else, you have to change either what they are pointing a

[2016-11-16 21:40] andyevans commented on #114
okay so if i'm understanding correctly, to achieve what i'm after, once i verify a deployment to a DEV environment is successful i should tag the image into a new imagestream and have (for example) the 'SIT' DeploymentConfig with a Trigger listening to image changes on the new imagestream? So we have separate ImageStreams for each target deployment environment/namespace?

I'm trying to wrap my hea

[2016-11-16 22:20] bparees commented on #114
that would be a very typical way to set things up, yes.

or at least separate ImageStreamTags within the ImageStream

you may find this doc of interest (still a work in progress):  https://github.com/gabemontero/openshift-docs/blob/6a77acd34de23a9164b9940c83089d85a3502b31/dev_guide/application_lifecycle/application_promotion.adoc

[2016-11-16 22:22] bparees commented on #114
you can also take a look at our sample jenkins job which does promotion from dev to prod:
https://github.com/openshift/jenkins/blob/master/2/contrib/openshift/configuration/jobs/OpenShift%20Sample/config.xml

there is a tutorial associated w/ that job here:
https://github.com/openshift/origin/tree/master/examples/jenkins

and the summary of what the job does when run:

[code]

[2016-11-18 12:42] andyevans commented on #114
Thanks a lot for your help Ben.I suppose wrapping your head around the reliance on image streams to trigger deployments m is one of the fundamental things here. We ended up following a similar approach to the one you describe. Build and deploy an image to a development environment, execute sufficient tests and verifications, tag the image with the Jenkins build number,m. When we want to promote to

[2016-11-18 14:45] bparees commented on #114
yup, imagestreams and deployments and the relationship between them are fundamental building blocks for the platform.  Glad to help!

[2016-11-18 14:45] #114 closed, assigned to nobody

[2016-11-21 15:27] gabemontero commented on #110
Opened https://trello.com/c/ca8QygYj/1090-jenkins-pipeline-plugin-oc-get-describe-equivalents on our trello board to track this enhancement request.

[2016-11-21 15:27] #110 closed, assigned to nobody

[2016-11-21 18:51] csrwng opened #117 "openshiftBuild step does not recognize when a pipeline build has completed"
Use `openshiftBuild` to start a new build with a pipeline strategy.

Expected:
Once the pipeline build finishes, the openshiftBuild step completes

Actual:
The openshiftBuild step never recognizes that the pipeline build has finished and times out.

[2016-11-22 14:06] #117 closed, assigned to gabemontero

[2016-11-22 19:03] #99 closed, assigned to gabemontero

[2016-12-21 19:37] MarkRx opened #121 "Patch / Update resources"
Hello,

Are there plans to be able to patch or update resources? I'm investigating the use of this plugin for deployments but I can't find a native jenkins way to perform patches or updates on existing resources. It would probably be used in conjunction with #110.

[2016-12-21 19:53] bparees commented on #121
we're potentially looking at a secondary plugin that would expose the oc client more directly and would therefore expose things like apply.

we're hesitant to keep expanding this plugin to encompass every aspect of the oc tool.  Not saying we won't do this particular item, but there is a tension about at what point it makes more sense to just shell out to oc to do certain things vs implementing je

[2016-12-21 19:54] bparees commented on #121
you can see a draft of the new plugin here, would be interested in your feedback: https://github.com/jupierce/openshift-jenkins-pipeline-dsl

[2016-12-21 19:54] bparees commented on #121
@jupierce fyi

[2016-12-21 19:57] gabemontero commented on #121
+1 to everything @bparees noted (was comprising a similar update when I saw this one posted).

That said, I've updated the corresponding [trello card](https://trello.com/c/ca8QygYj/1090-jenkins-pipeline-plugin-oc-get-describe-equivalents-jenkins-integration) for get/describe to include patch/update as well.

[2016-12-21 20:43] jupierce commented on #121
@MarkRx The example to look to is here: https://github.com/jupierce/openshift-jenkins-pipeline-dsl#need-to-update-an-object-without-replacing-it

Please let me know if you have any thoughts.

[2016-12-21 20:44] MarkRx commented on #121
Yup. I have it built and am trying it and have submitted an issue :)

https://github.com/jupierce/openshift-jenkins-pipeline-dsl/issues/1

[2016-12-22 13:41] MarkRx commented on #121
Would it need to be a separate plugin? Why not just make a step to run raw commands that integrates the code from https://github.com/jupierce/openshift-jenkins-pipeline-dsl?

[2016-12-22 13:49] gabemontero commented on #121
That is in fact one path under consideration.
Even entirely rebasing the old plugin on top of the new  one may happen
long term.

On Thu, Dec 22, 2016 at 8:41 AM Mark <notifications@github.com> wrote:

[2017-01-16 14:49] bparees commented on #76
@jupierce i assume you used nanotime in the new plugin implementation?

[2017-01-16 14:51] bparees commented on #121
we're going to provide this functionality via the new plugin, rather than also backport it to the existing plugin, so closing this issue.

[2017-01-16 14:51] #121 closed, assigned to nobody

[2017-01-16 15:08] jupierce commented on #76
@bparees The new plugin shouldn't have this exposure. There are few timing loops in general because I expected users to use the base Jenkins "timeout" DSL or the timeout freestyle step wrapper. The plugin's step implementations just need to be interruptible (and should already be) in order to inherit the base timeout features.

[2017-01-16 16:20] gabemontero commented on #108
FYI @jamestenglish - if you are still interested in this jenkins / openshift scenario, it can be achieved with a new plugin currently under development by our team.  Our current thought is that in the long term it will replace this plugin.

Please see https://github.com/openshift/jenkins-client-plugin

[2017-01-17 20:09] cjryan opened #122 "jenkins template using spec.clusterIP instead of spec.portalIP"
After a recent change to the jenkins templates to [Remove support for spec.portalIP](https://github.com/openshift/origin/commit/e0c8f93be1bf173f5932796c4d3cbd96310b4de7), the jenkins plugin is unable to communicate over the service port, resulting in the following failure (for a Verify OpenShift Service build step):

[code]
the attendant yaml for that specific pod is:

[code]

This was seen on bot

[2017-01-23 20:46] #122 closed, assigned to gabemontero

[2017-01-24 01:10] gabemontero commented on #122
The jenkins image will be updated when is https://github.com/openshift/jenkins/pull/235 merges and the subsequent image is pushed to docker.io

[2017-01-24 01:29] cjryan commented on #122
@gabemontero sounds great, thank you!

[2017-01-25 19:46] tiwillia opened #125 "Build output sometimes not shown in jenkins console output"
When triggering a build while using the `showBuildLogs: true` option, the build logs are sometimes not included in the jenkins console output.

This seems to occur when there is a delay in the build pod being scheduled, when the build pod sits in `New `state for some time. The jenkins plugin only checks for the pod once when the build is triggered, but won't check again until the build is complete

[2017-01-25 19:49] gabemontero commented on #125
@tiwillia previously got me a repro with trace; believe I have a fix in the works

[2017-01-25 20:16] gabemontero commented on #125
Commit https://github.com/openshift/jenkins-plugin/commit/816adf3763f948f98c1b4d8835b66e64a0cb75e1 has the fix

A pre-release version of the plugin with this fix is located at https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/34/s3/download/openshift-pipeline.hpi.  Install it in your jenkins server at your discretion.  Also, @tiwillia had the good idea of turning off concurrent

[2017-01-25 20:16] #125 closed, assigned to gabemontero

[2017-01-27 03:14] #76 closed, assigned to gabemontero

[2017-01-27 03:15] gabemontero commented on #76
This will be in v1.0.42 of the plugin.

[2017-02-10 12:33] livelace opened #128 "Deployments don't work"
Hello. We have just upgraded the Origin cluster to:

oc v1.4.1
kubernetes v1.4.0+776c994
features: Basic-Auth GSSAPI Kerberos SPNEGO

openshift v1.4.1
kubernetes v1.4.0+776c994

and deployments stopped working. We cannot trigger an deployment (but it was created), and we got an error when starts it by hand:

--> Error listing events for replication controller testing-drweb-mail-servers-11.0.3-auto

[2017-02-10 12:38] livelace commented on #128
Builds are working fine.

[2017-02-10 17:32] bparees commented on #128
if you're also having issues running deployments by hand, this should be opened against origin.  (it sounds like your permissions in your cluster are incorrect).  Can you open this there and we'll get the right people to look at it?

[2017-02-10 17:32] #128 closed, assigned to nobody

[2017-02-10 18:02] livelace commented on #128
@bparees Hello, yes. I was scared :) @kargakis helped me on freenode :)

[2017-02-14 15:54] benemon opened #129 "Environment Variables don't respect Parameterised Builds"
*STEPS TO REPLICATE*

- Create Parameterised Build Job
- Add a String Parameter for 'JENKINS_FOO', with a value of 'FOO'
- Add an Trigger OpenShift Build Step
- Add an Environment Variable to the Trigger OpenShift Build Step
- NAME: BAR
- VALUE: ${JENKINS_FOO}
- Configure for some BC in your project
- Start Build
- Examine BC in OpenShift

*ACTUAL*:
- 'BAR=${JENKINS_FOO}' - value passed as a Strin

[2017-02-14 16:13] benemon commented on #129
Further information for you.

**Versions**
Jenkins: 2.19.3
OpenShift Jenkins Plugin: 1.0.42
OpenShift Container Platform: 3.4.0.40

**Screenshots**

<img width="895" alt="trigger openshift build with env vars" src="https://cloud.githubusercontent.com/assets/4622553/22937374/4deb74f6-f2d0-11e6-81ff-ab4f4db8e05b.png">

<img width="1076" alt="start parameterised build" src="https://cloud.githubuserco

[2017-02-14 16:23] gabemontero commented on #129
@benemon  - Yep it looks like when bld env vars were added (relatively later than previous capabilities), we missed passing the values through our translation mechanism.

I should probably have a pre-release patch ready to try either later today or tomorrow.

Thanks for catching / reporting this.

[2017-02-14 22:55] gabemontero commented on #129
https://github.com/openshift/jenkins-plugin/commit/d64f23ea6abb841fbeb5c9d527c3a85d3b075c03 has the fix for this.

I'll update the PR with a link and close when I have a pre release version of the plugin with this update.  That job is running as I type.

[2017-02-15 02:41] gabemontero commented on #129
@benemon - hey, a built plugin file with the fix for this issue is located [here](https://ci.openshift.redhat.com/jenkins/job/openshift-pipeline-plugin/35/s3/download/openshift-pipeline.hpi)

If you get a chance update the plugin installed in your jenkins image via the jenkins console with the above file to get the fix for this issue.  Of course reopen the issue if the change does not work for you

[2017-02-15 02:41] #129 closed, assigned to gabemontero

[2017-02-15 11:44] benemon commented on #129
@gabemontero tested and works perfectly. Many thanks for your efforts!

[2017-02-15 14:39] gabemontero commented on #129
Great!  Thanks for giving it a go @benemon - glad to help.

[2017-03-01 09:57] livelace opened #131 "Timeout of builds"
Hi. I cannot figure out what is happening:

1. I decided to rework some base jobs (want to use [Multijob](https://wiki.jenkins-ci.org/display/JENKINS/Multijob+Plugin) phase)
2. I made one Jenkins job, which builds multiple images
3. Global "OpenShift Build Verification" and "OpenShift Builder" are set to 480 minutes. Local timeouts are not set.
4. I started that job and after some amount (about 30

[2017-03-02 19:29] gabemontero commented on #131
@livelace - the interrupted exception means that either Jenkins or this Multijob plugin is killing our job before jenkins-plugin stops waiting.  Per Jenkins rules for plugins, we are suppose to throw Interrupted Exception if we receive them.  Among other things, it allows the user to manually cancel a job from the console if they so choose.

Based on the logs provided, the plugin did consume the 4

[2017-03-02 19:29] #131 closed, assigned to gabemontero

[2017-03-05 16:15] livelace commented on #131
@gabemontero Hello. How do you think, maybe Multijob sums time of all tasks ?
I mean:

1. task1, task1, task3 - each consume 5 minutes.
2. multijobs phase contains: task1, task2, task3
3. timeout happens when sum of task1, task2, task3 is bigger than "BuildTimeout" ?

[2017-03-05 16:41] gabemontero commented on #131
On Sun, Mar 5, 2017 at 11:15 AM, Oleg Popov <notifications@github.com>
wrote:

used or looked into that plugin

[2017-03-24 00:40] alex-sl-eng opened #132 "Unable to do openshiftTag() in pipeline"
Hi,

I'm having difficulties trying to convert my oc command (which is working with the same token) to jenkins openshiftTag() syntax. The jenkins is service within the openshift.

My oc command:
`oc project openshift-project`
`oc tag external.registry.host.com/myproject:1.0 oc-my-stream:latest`
[code]
When I run the pipeline job

[code]

Please help.

[2017-03-24 13:05] gabemontero commented on #132
I believe you are ultimately trying an option for tagging available with the CLI which is not available with the openshift-pipeline plugin.

You only specified a token `my-token-for-my.localhost.openshift.com` for the destination name space `openshift-project`

You did not specify a token for the source namespace `external.registry.host.com`, which by the way does not sound like a valid openshift

[2017-03-24 13:05] #132 closed, assigned to gabemontero

[2017-05-16 06:38] livelace opened #135 "FR: Support of variables inside Openshift Exec"
Hello. In Origin 1.5 appeared a new functionality - StatefulSet, which allows to be sure of a pod name. It would be great if "Openshift Exec" could support variables (pod name, container name, timeout, command, arguments  etc. ) :)

[2017-05-16 06:41] livelace opened #136 "BUG: "Test connection" always returns "Connections successful""
Subject. Even with a wrong password/token.

[2017-05-16 17:51] gabemontero commented on #135
hi @livelace - I need to clarify what you mean by "support variables"

Are you saying you would like to define job build parameters / env vars and then reference them as the pod name, container name, arguments values you supply to the job definition?

i.e. for the pod name, you seed the job with ${MY_POD_NAME}, and then you define that as a build param for the job?

If so, while we are generally s

[2017-05-16 17:58] bparees commented on #135
@gabemontero if it's trivial to add support for this to all the arg fields for the plugin steps (not just this step), it's probably worth doing.  if it's a one off for this step, it's just a slippery slope...

[2017-05-16 17:59] gabemontero commented on #136
Yep, I see this as well putting in a bad token.

Cross referencing with our extended test, the extended test for failure supplies a bad cluster api url to confirm test failure.  We don't have a test that supplies a bad token in jenkins_pipeline.go.

[2017-05-16 18:09] livelace commented on #135
Yes, absolutely.

Yes, it's a trivial change and we need it :) Yes, we use DSL plugin, thanks for that, but DSL/pipeline/groovy are not so easy for newbies and this plugin allows very quickly assemble a simple (relative complex)  task/deployment/service. For instance - we use DSL plugin at the top of complex workflows, those contains numerous dependencies of CI , but at the bottom layers lay more

[2017-05-16 18:11] gabemontero commented on #136
Perhaps the http get of healthz/ready does not require a valid token ?!?!  I have verified we are passing in the configured (invalid) token.

I'll experiment with some other uri endpoints

[2017-05-16 18:13] gabemontero commented on #135
On Tue, May 16, 2017 at 1:58 PM, Ben Parees <notifications@github.com>
wrote:

It is just a portion of this step @bparees.  In general we support var
substitution for config fields, including several of the "base" params in
the oc exec step.
The  pod/container/args fields specific to oc exec were omitted.

[2017-05-16 18:14] gabemontero commented on #135
On Tue, May 16, 2017 at 2:09 PM, Oleg Popov <notifications@github.com>
wrote:

OK thanks for the confirmation.  Given the response from @bparees, I'll see
about adding this in the next few days.

[2017-05-16 18:16] livelace commented on #135
@gabemontero @bparees

Thanks, guys :)

[2017-05-16 18:33] gabemontero commented on #136
Yep, that appears to be the case.  I added an equivalent of `oc get is -n openshift` and that produced an auth error.

Conversely, if I go with the default token (the serviceaccount's token), the `oc get is -n openshift` succeeds.

@bparees - does rest call equivalent to `oc get is -n openshift` seem to you like a valid rest call to determine whether the supplied token carries the necessary author

[2017-05-16 18:38] bparees commented on #136
is there no generic endpoint we can hit to simply validate the token?  @liggitt @deads2k

[2017-05-16 18:56] gabemontero commented on #136
there is the "/oapi/v1/users/~" endpoint, but it is messier to access that one from the java restclient

[2017-05-16 18:58] bparees commented on #136
my worry w/ the openshift NS suggestion is the day someone decides they don't want an openshift namespace.

[2017-05-16 19:13] gabemontero commented on #136
ok, i managed to hit "/oapi/v1/users/~" with relatively little pain from the java restclient after all ... pending endpoint correction from @liggitt @deads2k let's go with that

i'll submit pull momentarily

[2017-05-16 19:24] liggitt commented on #136
`/apis` will return 401 with a bad token, and exists in both openshift and kube servers

[2017-05-17 01:49] #135 closed, assigned to gabemontero

[2017-05-17 11:31] #136 closed, assigned to gabemontero, oatmealraisin

[2017-05-17 11:49] gabemontero commented on #136
@livelace if you can try out the pre-release version of this change at https://ci.openshift.redhat.com/jenkins/view/All/job/openshift-pipeline-plugin/36/s3/download/openshift-pipeline.hpi

[2017-05-17 11:50] gabemontero commented on #135
@livelace if you can try out the pre-release version of this change at https://ci.openshift.redhat.com/jenkins/view/All/job/openshift-pipeline-plugin/36/s3/download/openshift-pipeline.hpi

[2017-05-17 15:18] livelace commented on #135
@gabemontero It seems that all parameters work fine. I have checked all of them :) Thanks for your fast response/improvement :)

PS. Are there any restrictions of number of arguments ?

[2017-05-17 15:19] livelace commented on #136
@gabemontero  It works, thanks! :)

[2017-05-17 15:23] gabemontero commented on #135
On Wed, May 17, 2017 at 11:18 AM, Oleg Popov <notifications@github.com>
wrote:

Sounds good.  Glad to help.  Thanks for testing.

No.  It is an unbounded Java List.

[2017-05-17 15:24] gabemontero commented on #136
On Wed, May 17, 2017 at 11:19 AM, Oleg Popov <notifications@github.com>
wrote:

Cool - thanks for testing.

[2017-05-18 12:04] livelace opened #139 "BUG: OpenshiftExec ignores timeout"
@gabemontero

Hello. Yesterday I tested FR https://github.com/openshift/jenkins-plugin/issues/135, I set an environment variable ${TIMEOUT} to 10 seconds and did "sleep 30" inside OpenshiftExec, all worked as expected. Today I try to exec a heavy script and I get  a timeout error - https://paste.fedoraproject.org/paste/H5NYxUjiZtkeEuFvQh58xF5M1UNdIGYhyRLivL9gydE=/raw
I tried to set global and loca

[2017-05-18 16:15] gabemontero commented on #139
The error being reported here stems from the restclient/okhttp3 client timing out, where we essentially have a long running REST call.  The application of timeout in the step was not applied to the restclient/okhttp3 client timeout configuration.

We should augment our configuration of that client for this step to do that.

[2017-05-18 16:22] gabemontero commented on #139
NOTE @livelace - you'll need to set the timeout in the step's advanced tab section

[2017-05-18 16:33] livelace commented on #139
@gabemontero It's not a problem if it will work as expected. Every task usually has a dedicated timeout (different complexity).

[2017-05-18 16:50] gabemontero commented on #139
[jenkins-plugin.zip](https://github.com/openshift/jenkins-plugin/files/1011644/jenkins-plugin.zip)

ok good @livelace

before pushing this fix to the repo, if you don't mind, I'd like for you to try the plugin I've attached here; I'm not 100% certain I can construct a long running exec close enough to what you are doing to cover everything;  this way, if we have to iterate once or twice on the cha

[2017-05-18 16:51] gabemontero commented on #139
just unzip that file and then install the hpi file as you usually do ... thanks

[2017-05-18 17:26] livelace commented on #139
Values in advanced tab - http://fastpic.co/image/Ph0k16
Error1 -
https://paste.fedoraproject.org/paste/N9mDtmSMi6uwgwVmqn8Yel5M1UNdIGYhyRLivL9gydE=/raw
Error2 -  https://paste.fedoraproject.org/paste/AP4U~0iJjOzOZqMcvQbDC15M1UNdIGYhyRLivL9gydE=/raw

[2017-05-18 19:00] livelace commented on #139
@gabemontero I go sleep now. Feel free to attach a new version - I will check it in the morning :)

[2017-05-18 20:50] gabemontero commented on #139
There is a long to int conversion issue with error1 (the restclient only takes int) ... I might be able to work around error1 by converting the long / milliseconds to a smaller number in larger units.

with error2 I'm inferring you put quotation marks around your number ... not sure otherwise

[2017-05-18 21:02] gabemontero commented on #139
but in general you'll need to be a little careful with the timeout value you put in ... there is only so much massaging that can be done in this space.

here is the updated plugin:
[jenkins-plugin.zip](https://github.com/openshift/jenkins-plugin/files/1012420/jenkins-plugin.zip)

[2017-05-19 05:14] livelace commented on #139
@gabemontero It works! Tasks work as expected. Today I will work with this step in more intense manner, maybe it will reveal hidden problems, but it works at the moment :)

Thank you very much :)

[2017-05-19 10:51] livelace commented on #139
@gabemontero

I think enough. All working fine.

Have a nice weekend :)

[2017-05-19 10:51] #139 closed, assigned to gabemontero

[2017-05-19 13:21] gabemontero commented on #139
On Fri, May 19, 2017 at 6:51 AM Oleg Popov <notifications@github.com> wrote:

great thanks you too

[2017-07-07 14:25] eleanordare opened #144 "Confusing print statement if openshiftVerifyDeployment fails"
If the container errors out and the deployment fails, the logs inside Jenkins for the "verify deployment" step are unclear. It shows this same error message regardless of why the pod failed:

[code]

It would be great if it printed logs from the failed pod or a link to the deployment in the console instead!

[2017-07-08 14:30] gabemontero commented on #144
hey @eleanordare which version of the plugin were you running at?  A bug in the logging statement at the key point in your stack trace, com.openshift.jenkins.plugins.pipeline.model.IOpenShiftDeploymentVerification.coreLogic(IOpenShiftDeploymentVerification.java:140),  was fixed with commit 7c4ac3b1c5bc3c144973d47bed08caf67db783a3

The fix made v1.0.43 of the plugin.

Pretty sure that is what is go

[2017-07-08 14:30] #144 closed, assigned to gabemontero

[2017-08-10 08:48] carlossg opened #147 "okhttp binary changes break plugin when others installed"
okhttp3 3.5 broke binary compatibility and because 3.7 is being used in kubernetes-plugin and kubernetes-client if you have this plugin installed you'll get errors

https://github.com/square/okhttp/blob/master/CHANGELOG.md#version-350

Should be fixed by upgrading to 3.5+

[code]

[2017-08-10 13:51] gabemontero commented on #147
thanks for the intel @carlossg

so, some additional details from poking around various repos

1) for the openshift jenkins image, we are pulling in v0.10 of the kubernetes-plugin, and is what we test with

So users are either independently installing the plugins, or possibly took the openshift jenkins image and upgraded the kubernetes-plugin

2) for v0.10, I believe that translates to v1.4.27 of t

[2017-08-10 13:55] carlossg commented on #147
I think user just clicked the "update all plugins" button, which got them the kubernetes-plugin 0.12

0.13 should be out soon with fixes

[2017-08-10 13:55] gabemontero commented on #147
Oh, I forgot, the openshift-restclient-java dependency of this plugin also uses okhttp3

It is currently pulling in 3.3.1 (which is why this plugin is at that version) ... we'll most likely need to coordinate there as well ... @jcantrill FYI

[2017-08-10 13:56] gabemontero commented on #147
On Thu, Aug 10, 2017 at 9:55 AM, Carlos Sanchez <notifications@github.com>
wrote:

Yep that would cause it too ... thanks for the clarification

[2017-08-10 13:59] GolanTrevize10 commented on #147
Hi I got the same problem. I'm using a Jenkins instance outside Openshift with Openshift plugin version 1.0.48 and kubernetes plugin 0.12. Should I downgrade to 0.10?

[2017-08-10 14:04] gabemontero commented on #147
On Thu, Aug 10, 2017 at 9:59 AM, GolanTrevize10 <notifications@github.com>
wrote:

That would resolve it in the interim, yes.

[2017-08-10 14:07] GolanTrevize10 commented on #147
Ok I downgraded to 0.11 and it iis working

[2017-08-14 17:50] scoheb commented on #147
Hi,

I was able to get around this by including this:

in the pom.xml for openshift/jenkins-plugin.

I rebuilt and re-installed the plugin and things worked.

My environment has:

- rebuilt **jenkins-plugin** with above fix.
- latest **kubernetes** (master branch) plugin

[2017-08-14 18:52] gabemontero commented on #147
Thanks for the investigation @scoheb !!

For folks who are interested, background on that pom setting:  https://wiki.jenkins.io/display/JENKINS/Plugin+Structure

After a couple of minutes of thought, I'm thinking the 2 changes
1) @scoheb change
2) the broader bump of the okhttp3 versions previously outlined

are not mutually exclusive.  If need be, we employ 1) as a tactical fix if users' manual u

[2017-08-14 18:59] bparees commented on #147
makes sense to me

[2017-08-22 18:28] dnguyen9 opened #151 "Externalize the CERT_FILE = "/run/secrets/kubernetes.io/serviceaccount/ca.crt";"
there are potential needs to use the jenkins-agent from one openshift cluster to talk to another cluster. Given that the ca.crt is generated defined by the CERT_FILE  is generated as self-signed certificate, you would expect to see TLS errors unless you use the SKIP_TLS.

we would like to have the ability to specify the ability to certify the CERT_FILE as an environmental variable to specify our o

[2017-08-22 18:36] gabemontero commented on #151
Per https://github.com/openshift/jenkins-plugin#certificates-and-encryption you should already be able to put the contents of your x509 PEM files in `CA_CERT` env var / build parameter.  This will override what is read in from "/run/secrets/kubernetes.io/serviceaccount/ca.crt".

Please try that.  If there are issues in doing that we can reopen this issue and diagnose.

thanks

[2017-08-22 20:16] dnguyen9 commented on #151
@gabemontero Gabe - Yes process outlined in your document works for us. The concern is that the certs have a shelf life and the preference is use the linux managed certificates (example - /etc/pki/tls/certs/ca-bundle.crt). The linux managed certificates renewal is managed by the OS

[2017-08-22 21:04] gabemontero commented on #151
ah - yeah, OK that makes sense @dnguyen9

There are a couple of ways to go about it.  A new env var along the same lines as `CA_CERT` is quick and easy enough.

We've also got requirements on the back burner to leverage the jenkins credentials support.  I think you can point those to specific cert files.

The other point to mention is that we have started putting more focus on the plugin at https:

[2017-08-22 21:08] bparees commented on #151
@gabemontero you're proposing we would have a hierarchy of:

1) if $CA_CERT is set, use that
2) if $CA_CERT_FILE is set, use the file at that location
3) if none of the above, use the file at the CERT_FILE constant path (/run/secrets/....)

?

[2017-08-22 21:11] gabemontero commented on #151
On Tue, Aug 22, 2017 at 5:08 PM, Ben Parees <notifications@github.com>
wrote:

yep .... could argue the new var, 2), takes precedence over 1), or argue 1,
2 is the right precedence,
but yep

[2017-08-22 21:14] bparees commented on #151
if it works for @dnguyen9 i'm ok with it.  Agree the precedence could go either way, I guess I don't have a strong opinion.

[2017-08-22 21:27] dnguyen9 commented on #151
That works for me! Not strong preference either way.

[2017-08-23 18:44] #151 closed, assigned to gabemontero

[2017-08-28 18:43] mexicanopelon opened #153 "Issue with Jenkin's Verify Build OpenShift plug-in functionality"
We are having a recurring issue with Build Verify OpenShift functionality.  The Jenkins job is able to successfully kick off the OSE builds, but for some reason it tracks the incorrect build job instead of the latest one.  Therefore, even though the build job succeeds, the Jenkins job fails because it is waiting for the wrong job to succeed.

We were able to confirmed that there is a bug with the

[2017-08-28 18:46] srang commented on #153
If I had to guess the issue may lie here:
- [the mapping](https://github.com/openshift/jenkins-plugin/blob/master/src/main/java/com/openshift/jenkins/plugins/pipeline/model/IOpenShiftBuildVerifier.java#L46-L50)
- [and sorting](https://github.com/openshift/jenkins-plugin/blob/master/src/main/java/com/openshift/jenkins/plugins/pipeline/model/IOpenShiftBuildVerifier.java#L57)

[2017-08-30 16:09] gabemontero commented on #153
@mexicanopelon and @srang - thanks for the report, and the analysis which zero'ed in on the issue!

I should have a PR cooking shortly, followed by a new plugin version hosted at the jenkins update center, followed by an update of the openshift jenkins centos image.

[2017-08-30 16:47] mexicanopelon commented on #153
Thank you for the quick response.

[2017-08-31 10:14] keirlawson opened #155 "Declarative pipeline support?"
Is it possible to use this plugin with the new "declarative" Jenkins pipeline syntax (see https://jenkins.io/doc/book/pipeline/syntax/#declarative-pipeline)? If so is there an example of this somewhere? If not is this feature planned/is there an alternative approach?

[2017-08-31 13:49] gabemontero commented on #155
Hi @keirlawson - we are targeting the plugin at https://github.com/openshift/jenkins-client-plugin as our player in the declarative pipeline space.

That plugin has been in our openshift jenkins centos image for a few cycles now, and will be officially supported in our upcoming openshift 3.7 release.

Some examples are being compiled as I type for jenkins-client-plugin.  Ideally, one of them would

[2017-08-31 13:49] #155 closed, assigned to gabemontero

[2017-08-31 13:52] keirlawson commented on #155
Thanks for your informative response!

[2017-08-31 13:54] csrwng commented on #155
One thing to keep in mind is that to use the jenkins-client-plugin inside the new declarative pipeline steps section, you need to wrap the code with a `script` step. If you do not want to use the `script` step every time, one alternative is to create a library that wraps your jenkins-client-plugin actions into steps that you can include directly in your declarative pipeline.

[2017-08-31 13:58] gabemontero commented on #155
Ah - good to know - thanks @csrwng !  I knew your ci explorations would prove valuable here :-)

@coreydaley - if you haven't already, in updating the doc's for client plugin, you should link up with @csrwng and pick his brain for juicy user experiences like this.

[2017-09-01 01:37] #153 closed, assigned to gabemontero

[2017-09-01 12:04] gabemontero commented on #153
@mexicanopelon @srang I'll cut the new version of the plugin at the jenkins download center later today or early next week, but the change is available at this repo now if you are interested in building (via `mvn clean package`) and install the hpi file manually.

[2017-09-01 20:54] gabemontero commented on #153
v1.0.52 of the plugin is now available at the jenkins download center

[2017-09-01 21:40] gabemontero commented on #153
and the openshift jenkins centos image on docker hub should be updated within the hour, assuming no network issues, etc.

[2017-09-02 14:53] srang commented on #153
Woooo thanks Gabe! We'll update our plugin and test it out

[2017-09-27 20:15] gabemontero commented on #147
bumping okhttp is even more complicated that first thought, given it appears okhttp-ws was in fact deprecated

more restructuring of the restclient would be needed, given where it is at from a future dev perspective, don't see that happening

given https://github.com/openshift/jenkins-plugin/pull/148 isolates this plugin and addresses the original concern (we in fact have updated the openshift jen

[2017-09-27 20:15] #147 closed, assigned to gabemontero

[2017-11-09 19:29] elconas opened #157 "openshift-client-plugin really still a "tech preview" ?"
The readme.md states:

Is this still true as the openshift-client-plugin was released 1.0.0 on 2017-09-27 and the openshift-client-plugin calls this plugin a "legacy plugin":

From https://github.com/openshift/jenkins-client-plugin

[here](https://github.com/openshift/jenkins-plugin).

I guess openshift-client-plugin is the way to go, so anything stopping it from beeing used in Production in versi

[2017-11-09 19:37] gabemontero commented on #157
Yeah, with the upcoming 3.7 release of OpenShift (to be release any day now) we are declaring openshift-client-plugin supported (no longer experimental).

It will be officially supported in production envs at that point.

And yes, we'll need to update this readme to reflect that.  And yes, while this plugin is still supported, openshift/jenkins-client-plugin is the strategic direction.

[2017-11-12 01:14] lionelve commented on #157
I can't find a nice way to replicate the functionality of openshiftVerifyDeployment in the new plugin. It'd be a shame to lose the features that this plugins does well.

UPDATE:  Turns out oc rollout makes this very easy with the new plugin. It watches by default.
[code]

[2017-11-12 03:31] bparees commented on #157
This plugin won't be going anywhere for a while, we're just not going to be adding new capabilities.

Longer term, what we want to do is make the "oc" client binary more capable of these type of actions (verifying things, waiting for things to complete, etc).  After all, someone scripting usage of oc outside of a jenkins job might want to verify a deployment too.  Then the openshift client plugin

[2017-11-13 20:48] #157 closed, assigned to gabemontero

[2017-11-22 09:56] abustya commented on #153
Will the rhel7 image also be updated?
I'm using openshift3/jenkins-2-rhel7 (from jenkins-ephemeral-template), and the plugin version included is 1.0.47.

[2017-11-22 14:33] bparees commented on #153
@abustya yes, when OCP3.7 ships there will be a new jenkins rhel image available and it will include this change.

[2017-11-30 14:39] Torbacka opened #160 "Jenkins throws an error when using the openhiftBuild with the buildConfig parameter"
Error message from jenkins:

How to reproduce error:
- Use Jenkins 2.73.3 and OpenShift Pipeline Jenkins Plugin verson 1.0.52
- Run a pipeline with the step "openshiftBuild(buildConfig:  #'buildname')"

Solution:
I think you should rename the parameter name buildConfig to bldCfg in the README.md, but maybe i have misunderstood something. #

[2017-12-04 17:01] gabemontero commented on #160
hey @Torbacka - yeah, `buildConfig` is suppose to work.  And in fact, using the openshift sample template https://github.com/openshift/origin/blob/master/examples/jenkins/pipeline/samplepipeline.yaml, which has this in the pipeline:

[code]

works for me.

I'm at the same version of jenkins and this plugin as you.

So something else is going on.

If you want to pursue further, please provide:

- t

[2017-12-07 09:34] Torbacka commented on #160
Yeah your code works fine for me. The problem seem to be that Im using declarative pipeline. When Im running it like this I get the error.

[code]

[2017-12-07 20:40] gabemontero commented on #160
Yep, that is the difference @Torbacka

With declarative, the workflow engine is not longer calling https://github.com/openshift/jenkins-plugin/blob/master/src/main/java/com/openshift/jenkins/plugins/pipeline/dsl/OpenShiftBuilder.java#L120

which is where we are doing the param name mapping

A README update is in fact warranted, but rather then a generic "only use ###" it needs to be qualified arou

[2017-12-07 22:13] #160 closed, assigned to gabemontero

[2018-01-09 20:13] sherl0cks opened #163 "Resulting GDSL is Broken"
If you follow the steps to create [groovy syntax support for Jenkinsfile](https://gist.github.com/arehmandev/736daba40a3e1ef1fbe939c6674d7da8), the description from the OpenShift plugin breaks the syntax support, as seen bellow. Sources of the errors are the below methods:

`method(name: 'openshiftDeleteResourceByJsonYaml', type: 'Object', params: [jsonyaml:'java.lang.String'], doc: 'Delete OpenSh

[2018-01-10 19:09] gabemontero commented on #163
heh ... never heard of that feature ... thanks for the heads up @sherl0cks

[2018-01-10 19:11] sherl0cks commented on #163
It's useful but has its limitations. Better than nothing

[2018-01-10 19:26] #163 closed, assigned to nobody

[2018-02-19 17:34] etsauer opened #165 "openshiftBuild should support binary build type."
Many pipelines use openshift to simply deploy a jar/war/ear from the workspace to an s2i-enabled image. It would be nice to be able to use the pipeline plugin methods to do this rather than have to drop into the shell for a simple `oc start-build foo --from-file/--from-dir` command.

[2018-02-19 17:44] gabemontero commented on #165
Thanks for the interest @etsauer , but we are not taking on new enhancements for this plugin, as https://github.com/openshift/jenkins-client-plugin is now our strategic direction for openshift/jenkins integration from pipelines.

You can in fact perform binary builds with the `openshift.startBuild(...)` directive with that plugin.

[2018-02-19 17:44] #165 closed, assigned to gabemontero

[2018-08-29 14:51] thoraxe opened #169 "Add deprecation warning and link to new plugin as first thing in repo"
Can we include a deprecation warning and link to the "new" plugin as the first item in the README?

[2018-08-30 19:50] #169 closed, assigned to gabemontero

[2019-04-14 12:31] glenns1 commented on #165
Thanks @gabemontero - I know this is close, but it is not clear how to push a binary image (--from-file) through the openshift Jenkins plugin using 'openshift.startBuild(...)'. please elaborate.

[2019-04-15 15:03] gabemontero commented on #165
@glenns1 use existing pipeline function like https://jenkins.io/doc/pipeline/steps/pipeline-utility-steps/#code-findfiles-code-find-files-in-the-workspace to find the binary file in your pipeline's workspace to find the fully qualified path of your binary file.  Supply the right path as the value for `--from-file` in the args you pass to startbuild

[2019-04-24 05:47] glenns1 commented on #165
@gabemontero Thanks for this feedback. I tried running that command, but not clear on the syntax and was failing. if you have an example with the --from-file option for a start build equivalent please?

[2019-04-24 13:53] gabemontero commented on #165
how about providing exactly what you tried @glenns1 and I'll modify it as needed

[2019-04-24 19:20] glenns1 commented on #165
Thanks @gabemontero
Is there a way to take this offline?

This is what I use for pipeline script:

node(label 'ocpmaster'
{
    stage 'gatherFiles'
    def files = findFiles(glob: '**/*.jar') echo """${files[0].name} ${files[0].path} ${files[0].directory} ${files[0].length} ${files[0].lastModified}"""
}

[2019-04-29 10:36] glenns1 commented on #165
hi @gabemontero
did you get a chance to look at this?
can we take it offline?
thanks

[2019-04-29 15:02] gabemontero commented on #165
@glenns1 how did you take the file gathering above and supply it to the `openshift.startBuild(...)` call?

Can you supply that syntax as well, and any error logs that may have occurred when you try it.

Lastly, are you famiilar with binary builds in general ... are you able to do them from the command line via the `oc` cli?  See https://docs.okd.io/latest/dev_guide/builds/build_inputs.html#binary-

[2019-04-29 21:08] glenns1 commented on #165
Hi @gabemontero

I am familiar with and using the binary builds. I currently use this:
oc start-build my-openjdk-app --from-file=/home/executable-sample-jar.jar

But I wish to run it in a Jenkins pipeline:
openshiftBuild(namespace: 'development', buildConfig: 'my-openjdk-app', showBuildLogs: 'true')

Therefore, I require the --from-file option, which is how I got to needing:
def files = findFiles(

[2019-05-07 19:35] gabemontero commented on #165
@glenns1 ok we may not be on the same page here.

Earlier you mentioned `openshift.startBuild(..)` from the jenkins-client plugin.
But your last comment mentions
`openshiftBuild` which is for this plugin.  This plugin is deprecated in favor of https://github.com/openshift/jenkins-client-plugin

We are not adding support for binary builds in this plugin.

Did you try it with the client-plugin?  Can